[2016-08-09 19:10] jameswomack opened #1 "Ability to use npm pkgs / what is the package.json for?"
Hey there! I'm already diggin' this tool:
`f james/twitter/hello sausage bacon eggs`

When I saw package.json I thought I might be able to install packages from there by putting them in package.json, but that doesn't appear to be the case. If not, what should I be using package.json for?

[2016-08-09 19:43] keithwhor commented on #1
Just the name right now. `package.json` will be for `node_modules` soon, the functionality isn't ready quite yet. Put on ETA on early next week.

It'll also be for documentation of the function, keywords, permissions, security, etc.

[2016-08-09 21:01] txgruppi opened #2 "f:list - A command to list the functions under a namespace"
Would be nice to have a command like `f:list` to list all the functions under a namespace. I'm not sure if it should only list under your own namespaces, for privacy.

[code]

[2016-08-11 02:22] Kyle-Falconer opened #4 "2FA"
Users should be able to set up two factor authentication to protect their accounts.

[2016-08-11 02:26] Kyle-Falconer opened #5 "How to set account information"
The cli or other website documentation should describe how to set such account information as `full_name` and `twitter_id`

[2016-08-11 03:02] oculus42 commented on #1
Should all those things be overloaded into the existing idea of `package.json`? Perhaps something like `function.json` would be an appropriate choice for permissions, security, etc on the FaaS platform.

[2016-08-11 13:27] jeveloper opened #6 "How to secure a "function" ?"
I use webtask.io that's part of auth0 and they use bearer token thats passed in the header.

What are your plans securing a call to endpoint?

use case:

person logs in with twitter , needs to process something specific to him/her  , web app makes a call on his behalf.

I am hoping it won't be too complicated with enough developer control.

cheers

[2016-08-11 14:05] keithwhor commented on #1
Perhaps. I don't mind overloading package.json, personally, since we'll need to use shared features anyway. The less files a developer has to manage, the better.

[2016-08-11 14:06] keithwhor commented on #2
Agreed. Queued up.

[2016-08-11 14:06] keithwhor commented on #4
This is on the roadmap, but not an immediate concern. We'll certainly aim for this before we're out of beta.

[2016-08-11 14:07] #4 closed

[2016-08-11 14:07] txgruppi commented on #2
I forgot to connect with the PR, this is done in #3

[2016-08-11 14:07] keithwhor commented on #5
Right now you can do `whoami --set full_name value` from the web terminal, but you're right, we do need better documentation there.

[2016-08-11 14:11] keithwhor commented on #2
Have a couple issues with that PR, will comment on them a bit later today. :) Thanks for submitting!

[2016-08-11 14:14] keithwhor commented on #6
We still need to implement our own security / authentication model as well as support for things like environment variables. I'll keep you posted and have answers for you soon! It will be easy and you'll have plenty of control - I can promise you that. We'll almost certainly be using `bearer` tokens in the `Authorization` header.

[2016-08-11 14:16] txgruppi commented on #2
Alright :)

[2016-08-11 14:21] jeveloper commented on #6
Thanks ! i'll try to contribute in september !

[2016-08-11 14:51] dcrockwell opened #7 "Pasting password for new user creation"
I expected:

1. The password to be starred
2. The password to be recognized

What happened:

1. The password was shown without stars
2. The password was not recognized
3. A validation error said I need a password greater than 5 characters.

This was on Mac Chrome

[2016-08-11 17:53] FGRibreau opened #8 "Do you use AWS Lambda?"
Hello team!

Just curious, are you using AWS Lambda underneath? If so, I saw that you were supporting Node 6, do you use a shim like in Apex to make Lambda support it?

[2016-08-11 18:13] keithwhor commented on #8
Hey! We certainly run on a Lambda-style microservice architecture, but we have our own solutions that have been developed independently. As of now we are running on AWS (important for developers to know re: uptime).

[2016-08-11 18:13] #8 closed

[2016-08-11 18:33] keithwhor commented on #7
Can you verify that you weren't pasting the password in the `Username:` field instead of the `Password:` field? (It's shown first.)

[2016-08-11 18:34] #6 closed

[2016-08-11 19:04] FGRibreau commented on #8
Nice, thanks for your quick response @keithwhor :+1: :)

[2016-08-11 19:54] dcardosods commented on #7
Had the same problem. I can't paste a password.

[2016-08-12 00:02] dcrockwell commented on #7
@keithwhor It was in the password field for sure.

[2016-08-12 21:13] keithwhor commented on #2
This has been added here: https://github.com/poly/stdlib/commit/fcf89ce79b32daa367560f71cdaebe0b3d6043d6

There were also some server-side changes that needed to be done. The following will work:

[code]

[2016-08-12 21:13] #2 closed

[2016-08-12 21:15] keithwhor commented on #7
Which browser / operating system? This is likely a browser-specific issue (not handling textarea 'onpaste' correctly).

[2016-08-13 15:43] dcrockwell commented on #7
@keithwhor El Capitan (OSX) + Chrome Version 52.0.2743.116 (64-bit)

[2016-08-16 00:48] keithwhor commented on #1
npm packages are now available by setting `node_modules` in `package.json` the same way you would normally.

note there are limitations: all functions within a namespace share dependencies, so they must all be versioned identically when sharing packages (you'll get an error if they're not), and there's a maximum limit of 5MB for total dependencies size within a namespace.

[2016-08-16 00:48] #1 closed

[2016-08-17 08:26] watilde opened #10 "f:new throw a SyntaxError"
My envs:
+ `node -v`: v5.5.0
+ stdlib.com version: v0.1.3

Error log:
[code]

[2016-08-19 09:31] trsrm commented on #10
The same issue:
Node v4.2.6
stdlib v0.1.3

[2016-08-19 17:58] ahmadnassri opened #14 "npm README shows incorrect install instructions"
should probably publish a new version to npm as it currently shows:
[code]

whereas it is correct in the repo README  as per 84c46c9b3e3d8bfa89e3ff2c1ba3281906bca783

[2016-08-19 18:48] keithwhor commented on #14
fixed. thanks for the catch!

[2016-08-19 18:48] #14 closed

[2016-08-19 18:49] keithwhor commented on #10
might need to scour some packages to fix this, will look into it, other packages I've developed have been Node 6+ as well. :)

[2016-08-23 21:28] ericprieto opened #15 "Request service via GET"
Will it be possible to call my function via GET? Some apps, like podcasts agregators and rss readers, can only make get requests.

[2016-08-25 08:06] #10 closed

[2016-08-25 08:09] keithwhor commented on #15
You can --- query parameters map to `params.vflags` 1:1.

Note that by default, it's an array with items separated by spaces (as passed in). This can be overcome using quotation marks.

i.e.

[code]

Maps to

[code]

And

[code]

Maps to

[code]

[2016-08-25 08:09] #15 closed

[2016-08-25 08:10] keithwhor commented on #7
Apologies for the delay here. We'll get to this during the day tomorrow. :)

[2016-08-25 08:10] #5 closed

[2016-09-01 11:38] lorenzoferrante opened #16 "How can I use node.js modules?"
Hi, it might be a simple issue, but including dependencies in package.json just doesn't work for me. How can I do it? Thanks.

[2016-09-13 05:55] keithwhor commented on #16
Hey Lorenzo, sorry I must have missed this when you opened it. :) What exactly is the problem? Where are you adding dependencies and what's not working? If it's in your development environment you'll need to run `npm install` locally.

[2016-09-13 05:58] keithwhor commented on #7
Hey guys, really sorry for the delay, had a bunch of stuff pop up. I can't recreate this on my own. Are you pasting using cmd+v / option-click + paste, or are you using some sort of third-party tool?

[2016-09-13 09:28] lorenzoferrante commented on #16
Hi, thanks for the answer. My is that when I include the dependencies in `package.json` and try to run `stdlib f:compile` the console returns me this error: `Error: not found: git`.
Then I tried to run `npm install` and remove the dependencies from `package.json` and it doesn't give me any errors, but when I try to execute the function from the terminal or HTTPS it gives this error: `Error: Error:

[2016-09-15 20:57] dcrockwell commented on #7
- I used a password manager the first time to copy to clipboard, then `cmd+v` to paste it.
- The second time I used  `cmd+c` then `cmd+v`.

[2016-09-21 12:25] arnogues opened #18 "Cleaning the function library by removing all /dev/hello functions"
You should clean the library, or delete /dev/hello functions after a limited time avec their creation.

There are 32 pages of /dev/hello functions :(

[2016-09-21 17:05] keithwhor commented on #18
Hahah. There are a lot due to onboarding. A better solution moving forward will likely be to just set `dev/hello` functions to `private`. We'll look into updating that within the week.

[2016-09-21 17:05] keithwhor commented on #16
Hey Lorenzo, are you trying to install directly from a git repository?

[2016-09-21 17:07] keithwhor commented on #7
I haven't wrapped my head around what's causing this, but have a feeling it's mostly to due with third-party tools.

We'll be pushing updates within the next few weeks to allow signup that's not from the "web command line" which should alleviate this problem.

[2016-09-22 07:13] lorenzoferrante commented on #16
Hi,
No I'm not installing from a git repo, I just add the name of the module and then run npm install.
I'm not installing from git because for example Firebase for node does not have a repo.

[2016-09-22 15:52] crazy4groovy opened #19 "New Function button not working on website"
Under the "Your Functions" tab, the "New Function" button brings up a window, but nothing I do can create a new directory and/or function.

[2016-09-22 15:54] crazy4groovy commented on #19
Ah, looks like maybe a page refresh error... I finally see a new function after clicking around awhile.

[2016-09-22 15:58] crazy4groovy commented on #19
Can't make a new env folder though..?

[2016-09-22 21:27] keithwhor commented on #16
Can you show me your `package.json` file?

[2016-09-22 21:28] keithwhor commented on #19
You can only modify production environment variables using the CLI right now.

[code]

[2016-09-22 21:28] #19 closed

[2016-09-22 22:22] lorenzoferrante commented on #16
Yes of course.

[code]

[2016-09-30 02:12] atian25 opened #20 "amazing project~ will the server opensource?"

[2016-10-04 05:00] cara opened #21 "stdlib f:compile fails"
Is there any way to debug? I suppose timeout. I'm getting this response:
Error: Unexpected server response:

[2016-10-04 05:09] keithwhor commented on #21
I just deployed a function successfully, will look in logs, any chance you can share your `package.json` details?

[2016-10-04 14:38] nemisj opened #22 "Password must consist of only A-Z, 0-9 and -"
Guys, i would like to use your service, but it makes no sense to me why these are the restrictions on the password. Can it be changed?

[2016-10-04 16:45] keithwhor commented on #22
Are you sure you're not getting that error for `username` and not `password`? We don't have restrictions on the password character set.

[2016-10-04 18:26] nemisj commented on #22
@keithwhor you're right, sorry, my apologies, didn't look carefully at the error message

[2016-10-04 18:26] #22 closed

[2016-10-19 02:09] xumx opened #23 "stdlib f:compile should accept a directory path as argument"
something like

`stdlib f:compile sub_folder`

[2016-10-21 21:20] #23 closed

[2016-10-21 22:23] xumx opened #24 "Needs a "stdlib list" command to show currently deployed services."

[2016-10-21 22:35] #24 closed

[2016-10-21 23:43] xumx opened #25 "stdlib up fails on windows due to tar stream error."

[2016-10-22 02:35] keithwhor commented on #21
We've changed package registration completely and this should no longer be an issue :)

[2016-10-22 02:35] #21 closed

[2016-10-22 02:35] keithwhor commented on #18
We've updated the registry and removed the onboarding from the beta, which has cleaned everything up. :) Enjoy!

[2016-10-22 02:35] #18 closed

[2016-10-22 02:36] keithwhor commented on #16
Hey, can you try your project again with the latest version of stdlib and let me know if you're still having trouble?

[2016-10-22 02:36] keithwhor commented on #7
We've removed the onboarding CLI from the website for now. Login is done through a normal form now. Hope this fixes your issues :).

[2016-10-22 02:36] #7 closed

[2016-10-22 02:37] keithwhor commented on #20
The registry itself is not open source, but this project (and associated framework tooling) will remain open source indefinitely :).

[2016-10-22 02:37] #20 closed

[2016-10-22 02:38] keithwhor commented on #25
This was mostly an issue with directories not being created in the `/tmp` folder if they didn't yet exist. I've pushed an update. Use `stdlib.com@1.0.0-dev2` and let me know if the problem persists - should be fixed, though.

[2016-10-22 02:38] #25 closed

[2016-11-01 22:23] xumx opened #26 "Any way to increase file size limit for each microservice?"
The current limit is way too low.
`413 Request Entity Too Large`

[2016-11-02 03:06] keithwhor commented on #26
Increased to 50MB, but your package should be in a tarball and gzipped (done by the CLI), so make sure you're not including anything unnecessary (like node_modules where they needn't be).

[2016-11-02 03:06] #26 closed

[2016-11-08 22:45] mmacedoeu opened #27 "How to setup local development without internet"
I would like to serve f in my localhost 8080 environment without using stdlib gateway eg. offline.
Do I need to setup nodejs hosting/gateway/bridge myself and call f functions or there is something already done ?

[2016-11-09 16:08] keithwhor commented on #27
`f` functions can be executed without having to run your own HTTP server. If you want to access them from a browser, I recommend using `lib up dev` to push them to a live, remote development space and testing them that way. :)

[2016-11-09 16:08] #27 closed

[2016-11-09 16:09] keithwhor commented on #16
Just checking in --- will close this for now unless you have another issue.

[2016-11-09 16:09] #16 closed

[2016-11-10 04:25] jimt opened #28 "--set password prompting for password"
It would be nice if `lib user --set password` prompted for a password if one is not supplied on the command line. This would prevent the password from appearing in my shell history.

[2016-11-10 18:04] keithwhor commented on #28
Good catch. I'll queue this up for the next minor release and let you know when it's in.

[2016-11-10 19:51] thisdavej opened #29 ""no env.json detected message" appears when invoking f from a different directory"
When invoking a service using `f` (example: `f thisdavej/test`) from a different directory than my microservice directory, a warning message appears indicating that "no env.json detected".

I recognize the intent of this message; however, I think the most common use case for `f` will be users invoking `f` from the command line to utilize various microservices—and this error message will not be mea

[2016-11-11 23:33] keithwhor commented on #28
Alright, this is in as of https://github.com/poly/stdlib/commit/6656838f692dbd680f1b0c86b4b4a12c6ced1626

Version `1.0.4`. Use `--new-password` instead of `--set password <value>`. :)

Cheers,
- Keith

[2016-11-11 23:33] #28 closed

[2016-11-11 23:34] keithwhor commented on #29
You're right. I will look into changing this behavior, and probably a little bit of the local behavior in general.

[2016-11-13 14:14] louislarry opened #30 "lib create does not work as expected"
[code]

[2016-11-13 14:15] louislarry commented on #30
apparently it was because I was not logged in.

[2016-11-13 14:15] #30 closed

[2016-11-13 16:35] Mirodil opened #31 "does not give option to create or change"
[code]

[2016-11-13 19:08] keithwhor commented on #31
Hey, sorry about this, had a validation blip. Can you try now and tell me if everything is OK?

[2016-11-13 23:12] Mirodil commented on #31
yep, now this command works

[2016-11-15 03:38] IzumiSy opened #32 "Error on `lib init`"
I got this error. Looks probably because of node.js version, but how do I do for this?

[code]

[code]

[2016-11-15 05:16] keithwhor commented on #32
Hey there,

stdlib currently requires Node 6 or higher to use the CLI tools. It's the latest LTS release, so I'm not sure we'll be adding compatibility for earlier versions. I see you're using `nvm` so the update should be straightforward. :)

Let me know if you have any questions!
- Keith

[2016-11-15 05:18] #31 closed

[2016-11-15 05:54] IzumiSy commented on #32
@keithwhor Sorry for spending time for me! It seems I missed that line on README. Thanks.

[2016-11-15 05:54] #32 closed

[2016-11-16 20:42] atomantic opened #33 "Error: Cannot read property 'filename' of undefined"
function runs fine locally but when I publish `dev` or `release`, I get an error.

`f .` => `incubated cross-platform applications`
`f . 2` => `mesh 24/7 programming, liberating orchestrated collaborative touchpoints`

`lib up dev`
[code]

`f antic/buzz@dev/buzz`

[code]

https://f.stdlib.com/antic/buzz
[code]

[2016-11-16 21:15] keithwhor commented on #33
Hey, can't get to this for a little bit, but if you join our Slack and ping me directly there I can help you with this. I'll need to look at the code you're trying to push. Link is on the main website :).
- Keith

[2016-11-17 03:13] keithwhor commented on #33
The issue is with the `buzzphrase` module itself. There's a line containing `require.main.filename` and a comparator, and `require.main` is not "safe" in and of itself, there's no "main module" within the microservice while it's executing. We can shim this behavior in if it brings up additional issues, but I also recommend (as you're the owner of the `buzzphrase` module) that a quick fix is to ens

[2016-11-17 03:13] #33 closed

[2016-11-17 14:50] atomantic commented on #33
Hah! that's what I get for working on this on a sick day. Thanks for finding that. Fixed and deployed. Looks great :)

[2016-11-17 15:35] keithwhor commented on #33
No worries! If you want to remove the broken version from the registry you can do `$ lib down -r <version>` :).

[2016-11-23 00:28] brozeph opened #35 "`414 Request-URI Too Large` on stdlib service page instead of readme.md"
After using `lib release` to push a new version of the readme file for my stdlib project, I see a 414 Nginx error when viewing the service at <https://stdlib.com/services/brozeph/chess>.

![screen shot 2016-11-22 at 4 26 25 pm](https://cloud.githubusercontent.com/assets/753462/20547380/70c66ebe-b0d0-11e6-9369-777ce54c8d1c.png)

The contents of my readme are as follows (it is quite verbose...):

#

[2016-11-23 01:41] keithwhor commented on #35
Should work now.

https://stdlib.com/services/brozeph/chess

Thanks for pointing this out. Our gateway works behind nginx at present, which places a limit on querystring length. Easy fix is to make requests via POST (or the `f` package), which we've swapped our Markdown parser to. :)

[2016-11-23 01:41] #35 closed

[2016-11-23 01:42] keithwhor commented on #35
Really cool use case btw - "stateless" chess. Love it.

[2016-11-23 14:54] brozeph commented on #35
Thank you!

On Nov 22, 2016, at 5:42 PM, Keith Horwood notifications@github.com wrote:

Really cool use case btw - "stateless" chess. Love it.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub https://github.com/poly/stdlib/issues/35#issuecomment-262416849, or mute the thread https://github.com/notifications/unsubscribe-auth/AAt_NtSU7pTcjdH2

[2016-12-07 00:56] nemo opened #36 "Ability to update env.json without having to increase package version"
I think it makes sense to be able to update env.json and env. variables in general without having to edit the package version.

[2016-12-07 01:07] keithwhor commented on #36
I'll have to think about it. Destroys the concept of service immutability in the purest sense.

Edit: Also creates entirely new complexity chain around --- which env variables belong with which service version? Every service version you push = entirely new set of env vars to manage. Quickly becomes untenable for at-scale development.

[2016-12-07 01:08] nemo commented on #36
I suppose. I'm fairly used to doing it to heroku apps (which just causes a restart). But I suppose it might make sense to keep it that way to keep things obvious.

[2016-12-07 01:12] keithwhor commented on #36
Awesome. Will close this for now. May re-approach later.

[2016-12-07 01:12] #36 closed

[2016-12-08 22:55] homingli opened #37 "lib init error on macOS Sierra"
macOS 10.12.1
node v5.1.1 (latest with Homebrew)

[code]

Looks like ES6 issue, but I'm not sure where to declare use strict.

[2016-12-08 22:57] homingli commented on #37
My fault, need to read the docs better, requires Node 6.x
Closing...

[2016-12-08 22:57] #37 closed

[2016-12-17 00:49] donPuerto opened #38 "Just follow the installation process but got an error"
Im using Windows 10 64 bit
![stdlive](https://cloud.githubusercontent.com/assets/9329005/21282940/bdf5534e-c435-11e6-9960-8a7571562b3d.PNG)

[2016-12-17 01:21] keithwhor commented on #38
Hey! Try updating to the version I just pushed (`1.0.10`) and let me know if you still run into the issue.

[2016-12-17 02:49] donPuerto commented on #38
Thanks...

[2016-12-17 02:54] donPuerto commented on #38
Just test  it, same error above. :(

[2016-12-17 03:01] keithwhor commented on #38
Upgrade to `1.0.11` and paste the output again?

You can join our Slack channel (https://stdlib.com - click on "Slack") and I can help you directly. :)

[2016-12-17 03:02] donPuerto commented on #38
Opps,
![stdlive2](https://cloud.githubusercontent.com/assets/9329005/21283954/57d66bc6-c448-11e6-9563-dd4e12f24416.PNG)

lib http
![stdlive3](https://cloud.githubusercontent.com/assets/9329005/21284003/76ab4c8c-c449-11e6-8f05-2c78b76f768f.PNG)

Also, i want to join on slack, it always say, your were invinted check your email, but i havent received any invitation..

[2016-12-17 20:47] keithwhor commented on #38
Okay. I'll have to spin up a VM to test some of this. Give me a little bit of time. :)

[2016-12-18 00:38] donPuerto commented on #38
Sure man, can you invite on slack don.puerto@hotmail.com

[2017-01-19 10:22] keithwhor commented on #38
Should be fixed as of https://github.com/poly/stdlib/commit/d0b5f62d715675464b4143ae6252f34a4f15f4b6 :)

[2017-01-19 10:22] #38 closed

[2017-01-23 14:57] optikalefx opened #39 "Where are all the services?"
I'm interested in building and using services with f. But I can't find anywhere a list of already available examples. I would imagine there's a list of services that people have build or that you've built. Where is that list?

[2017-01-23 15:22] keithwhor commented on #39
Hey Sean!

You can find publicly published services by visiting the search page; https://stdlib.com/search

It's mentioned in the docs and you can get there by clicking the green search button on the top right of stdlib.com --- but I gather it's not clear enough. We'll work on making the discovery process better :). Thank you!

(Note that you have to set stdlib: publish: true in package.json for a

[2017-01-23 15:24] optikalefx commented on #39
Ah, yea. You definitely should add a main nav menu for search.  It really helps sell the dream.

[2017-01-23 15:24] #39 closed

[2017-01-23 20:50] aboglioli opened #40 "Using Environment Variables to Deploy"
I want to deploy my code to `<stdlib>` through TravisCI (or any CI service).

I would need to set the environment variables to do this because I have to set my user. I can do this using a `build.sh` script for example which can receive $USER and $PASSWD from outside, but it's insecure.

Is there any method to use an `$ACCESS_TOKEN` to Deploy?

[2017-01-24 07:17] keithwhor commented on #40
Deployments use access tokens by default from the `.stdlib` file in your workspace, can you share the contents of your `build.sh` script and I can help you get it set up properly?

[2017-01-26 16:43] robertson-ja opened #41 "Don't seem to be able to login with cli from behind corporate proxy"

[2017-01-26 22:01] keithwhor commented on #41
Hey! What corporate proxy are you behind, specifically? You can e-mail me at keith [at] stdlib [dot] com and we can help you around that. :)

[2017-01-27 20:14] thisdavej opened #43 "Cannot pass negative number as a command line parameter value"
I created a simple `adder` function:
[code]
I can't figure out how to pass negative numbers in as parameter values.  Here's what I'm trying:
[code]
The resulting output is:
[code]
`lib` appears to be interpreting `-2` as another parameter rather than as a parameter value for `x2`.  Do I need to escape the `-2` value somehow?

[2017-01-27 20:51] keithwhor commented on #43
Should be fixed as of; https://github.com/stdlib/lib/commit/ccee1fe9ef67fd67a658640fd026acd31151bce7

[2017-01-27 20:51] #43 closed

[2017-01-27 22:41] aboglioli commented on #40
I saw that. But I don't want to have `.stdlib` in my public repository.

I was thinking if I could set environment variables in *TravisCi* (this isn't public).

[2017-01-27 22:56] keithwhor commented on #40
hmmmm. we could probably do that.

let me look into it tonight, I have a few other fixes to push to the CLI and I think this could be a pretty quick addition.

[2017-01-27 23:09] thisdavej commented on #43
Works great now - thanks for your help!

[2017-01-28 06:42] aboglioli commented on #40
Great, thanks! Maybe I will help with a Pull Request :+1:

[2017-01-31 06:09] #29 closed

[2017-02-02 17:34] DavidKlassen opened #46 "Installation issue due to "lib" executable name"
When installing using `npm i -g lib.cli` on mac I got the following error:
[code]
I think that the name `lib` is to generic and this can happen on other machines as well

[2017-02-02 19:06] keithwhor commented on #46
Hey David,

Can you let me know where `/usr/local/bin/lib` is currently pointing? Did you previously install another version of the `lib` package?

[2017-02-06 17:13] davidklassen commented on #46
On my machine `/usr/local/bin/lib` is a directory created by `exiftool`.
And I did not have previously installed versions of lib package

[2017-02-07 21:22] tirotekton opened #47 "ETag and dynamic response headers"
Is there any way to dynamically set response headers? E.g. generating ETag based on response body for cache control.

[2017-02-07 21:57] keithwhor commented on #47
Yep. You can use `callback(null, result, headers)` to set dynamic headers. They'll overwrite `http: headers` in `function.json` as well.

[2017-02-07 21:57] #47 closed

[2017-02-09 04:40] keithwhor commented on #46
I'm going to close this issue right now - we haven't had anybody else complain about a conflict, but if we do, I'll reassess at that time for sure.

[2017-02-09 05:31] aggierunner opened #48 "Error: Could not install template alexa"
When attempting to create a service based on the alexa template, I'm getting an error message.

- OS = Win 10 Pro
- Node = 6.9.5

Error:
[code]

[2017-02-09 05:42] keithwho commented on #48
Hey @aggierunner, thanks for this. I think it's definitely a Win10 issue, will get on it ASAP.

[2017-02-09 06:11] aggierunner commented on #48
Thanks, no rush as I got it to work from the Win 10 bash shell for now.

[2017-02-09 17:30] Alluuu commented on #48
I get the same, only on Windows 8 and node.js v6.9.5 LTS

[2017-02-10 02:56] nhajiyani commented on #48
I am getting the same on Win7 Enterprise and for nodejs 6.9.5 LTS. Attaching a screenshot.
[http://imgur.com/a/wrnTs](http://imgur.com/a/wrnTs)
@aggierunner How did you get it to work for you?

[2017-02-10 02:59] keithwhor commented on #48
Hey @Alluuu and @nhajiyani -- the issue is the default Command Line for Windows. Windows Bash should work (http://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/) because we're using a linux-based tar unpack command.

I'll fix this to work natively but it might take a day to get to.

[2017-02-10 03:07] nhajiyani commented on #48
@keithwhor Thanks for the quick response bud.
Since I am still on Win 7 , the Win 10 bash is not an option for me. So I will just wait for this patch.

[2017-02-12 00:07] keithwhor commented on #48
@aggierunner @Alluuu and @nhajiyani --- this should be fixed in `2.0.6` https://github.com/stdlib/lib/commit/1f6aa617ddc3345c205d14ccdaa97ab043847c5b

Re-install `lib.cli` globally and let me know if you still run into this issue? Will close for now.

[2017-02-12 00:07] #48 closed

[2017-02-12 11:08] Alluuu commented on #48
@keithwho Great job, and very quick to jump in and solve!

Can confirm that it works on windows too now, for the time being I just used an old mac I had laying around.

[2017-02-13 18:26] progrium commented on #40
Having configuration available that's not part of the source is HUGE. Every practical use case I can think of requires this.

[2017-02-13 18:29] progrium commented on #40
Yes, it's very important for auth to be able to be configured via environment. We don't deploy anything manually and all our code is public, so we need to configure secrets via CI environment.

We also need secrets/configuration the app/service/fn uses to be part of the environment and I don't see any way to do that.

[2017-02-13 19:27] keithwhor commented on #40
@progrium You can set environment variables without issue. `env.json` is loaded into `process.env` automatically (think `.env`). When testing in a CI environment you can set variables explicitly to `process.env`.

But if I get what you're asking for --- you want your CI tool to be able to handle deployment as well, correct?

[2017-02-13 19:41] progrium commented on #40
Yes. Without secrets in version control. So we'd git ignore env.json and build it manually during CI deploy?

[2017-02-13 20:28] keithwhor commented on #40
@progrium yep. That's exactly what you'd do. :) Which CI tool are you integrating with? TravisCI? I can put secrets-based deployment on our TODO list.

[2017-02-13 20:33] aboglioli commented on #40
@progrium That's a problem with any system deployed through CI, the solution could be to use a configuration file (or `env.json` in this case).

I was asking for a way to pass my stdlib TOKEN with environment variables instead of using `.stdlib`.

Here is an example [surge.sh/help/integrating-with-travis-ci](https://surge.sh/help/integrating-with-travis-ci). They use a generated TOKEN (`SURGE_TOKE

[2017-02-13 20:33] progrium commented on #40
CircleCI, but it shouldn't matter. Ideal would be Heroku-style config management, but that might be a lot for you to implement. I don't really look forward to building env.json even though it's simple. Seems unnecessary after using (and building) systems that don't require that.

I can't imagine this would be the last blocker for us anyway, but I'll keep trying as long as you're resolving these. N

[2017-02-13 20:35] progrium commented on #40
@aboglioli Yes, most CI's will have a way to manage environment, which is a Good Enough store for secrets as long as you don't have to print them out (like using them as args to a login command).

However, if secrets for the app itself have to be stored in the CI environment, that's pushing it, but still maybe reasonable in some cases.

[2017-02-16 00:43] aboglioli commented on #40
Ok. Thanks! I think encrypting `.stdlib` would be enough. Or using an environment variable (`STDLIB_TOKEN` for example) and before run build script from my CI system put this in `.stdlib` file:

[code]

[2017-02-21 13:48] asteriusj opened #51 "I've tried to setup twice but get this error"
$ lib init

/home/ubuntu/.nvm/versions/node/v4.7.3/lib/node_modules/lib.cli/cli/commands/__nomethod__.js:96
        lib({token: token, host: host, port: port})[params.name](...args, kwargs, cb);
                                                                 ^^^

SyntaxError: Unexpected token ...
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object

[2017-02-21 14:16] wKovacs64 commented on #51
`lib` requires Node 6.x. At the time you got that error, your `nvm` was using Node 4.7.3.

[2017-02-21 16:28] asteriusj commented on #51
that worked, thx

[2017-02-27 21:17] wkbaran opened #52 "Alexa template does not include request validation."
Amazon is no longer approving skills without request validation so it should be added to the template.

Where are the templates held? Possibly I could add support to it but I don't see anything related to Alexa in the lib cli.

[2017-02-27 22:28] keithwhor commented on #52
Thanks for the heads up and for being so proactive! In the interest of not blocking you our team has made some updates so you'll be able to contribute.

Visit https://github.com/stdlib/utils.templates to see the `utils.templates` service code and instructions on how to work with it.

You can run this service locally using `lib http` from the root directory. Make sure you update the StdLib command

[2017-02-27 22:32] keithwhor commented on #51
Thanks @wKovacs64!

[2017-02-27 22:32] #51 closed

[2017-02-28 03:35] wkbaran commented on #52
Thanks. I also found that it's missing the required LaunchRequest handler. I'll give that a shot too.

[2017-02-28 05:05] wkbaran commented on #52
I'm currently getting the following error if I try to run 'lib http' from utils.templates:
C:\Users\billb\AppData\Roaming\npm\node_modules\lib.cli\cli\scripts.js:22
    let npmPath = npmPathCommand.stdout.toString().trim();
                                       ^
TypeError: Cannot read property 'toString' of null
    at Object.run (C:\Users\billb\AppData\Roaming\npm\node_modules\lib.cli\cli\scrip

[2017-02-28 05:32] keithwhor commented on #52
Win issue. What windows version are you running? I will try to fix within the next 24h.

[2017-02-28 05:57] wkbaran commented on #52
Windows 10. Could be. It's acting like it's returning async though it's
clearly a synchronous call.

On Mon, Feb 27, 2017, 10:32 PM Keith Horwood <notifications@github.com>
wrote:

[2017-03-01 01:39] wkbaran commented on #52
I've confirmed it's a Windows issue. I have it running on a vm.
Now I'm just a bit confused on using it for development. When I run 'lib http' from utils.templates it says that it is compressing "templates/alexa/_files". If I use http://localhost:8170/ I get template undefined. If I hit http://localhost:8170/alexa I get "Cannot find module '/home/vagrant/utils.templates/f/alexa/index.js.'"
Am I su

[2017-03-01 02:07] jacoblee93 commented on #52
Try running `lib init` and `lib create -t alexa -d localhost:8170` from a different directory while you're running `lib http` in /utils.template. You won't actually navigate to localhost:8170 in your browser.

To test the service your template creates, you can then run `lib http -p <different port number>`.

Hope that works!

[2017-03-01 03:19] wkbaran commented on #52
Ah, got it. Thanks.

[2017-03-01 20:47] keithwhor commented on #52
@wkbaran this should be fixed for Windows as of https://github.com/stdlib/lib/commit/b7a102a84490e46c9a9a61172ba4f22b0abe3b99

Let me know if you have any more problems! :)

[2017-03-01 20:47] #52 closed

[2017-03-10 06:21] tonyxiao opened #53 "Logging and monitoring"
I can't seem to find any documentation on how logging and monitoring works with lib. Can someone point me in the right direction there?

[2017-03-10 08:48] keithwhor commented on #53
Hey Tony! Right now you'll have to use a third-party solution for logging within a function call after it's deployed (though local logging should work just fine).

This might sound silly (slash ultra hacky), but our team has been hacking it out by using `lib.utils.sms()` (https://stdlib.com/utils/sms) and texting ourselves results if necessary. We're building out a more sustainable solution that s

[2017-03-10 20:57] tonyxiao commented on #53
Haha that's hilarious. I think it'd be awesome if you can maybe setup an example of integrating with say LogDNA / DataDog in a function repo so people can copy / follow

[2017-03-10 21:00] wkbaran opened #54 "Merging package.json"
I'm not seeing my template dependencies getting merged in with the main app template's. Are there any known issues? Can you point me to the code that should be doing this?
I've had a hard time tracking it down but I'm going to take another wack at it this evening.

[2017-03-17 17:23] eorroe opened #55 "lib init error"
I have no idea why I'm getting this error or how to debug it:
![image](https://cloud.githubusercontent.com/assets/6982605/24055026/e5e736c6-0b14-11e7-93e3-bf451b54fe14.png)

[2017-03-17 18:29] jacoblee93 commented on #53
@tonyxiao we recently launched a logging service, check it out here: http://stdlib.com/utils/log

[2017-03-17 21:17] tonyxiao commented on #53
Oh this is really awesome! Are there metrics / monitoring available? How many requests per second is a function getting, is it returning errors? Also are logs split by invocations of the function or just all aggregated in one place?

[2017-03-17 22:09] keithwhor commented on #54
Can you give me an example of what you're trying to do? I'm not understanding the issue correctly.

[2017-03-17 22:10] keithwhor commented on #53
A lot of this data you can view on our dashboard: https://dashboard.stdlib.com/dashboard/

Data refreshes every ~10 minutes or so. :)

[2017-03-17 22:13] keithwhor commented on #55
I'm not sure why `rx-lite` is even in your `node_modules` folder... it's not a dependency of `lib.cli` at all. Can you try `$ npm cache clean`, `$ npm uninstall lib.cli -g` and `$ npm install lib.cli -g`?

[2017-03-18 19:12] wkbaran commented on #54
I found the problem. There was a syntax error in my template's package.json.

[2017-03-18 19:12] #54 closed

[2017-03-20 14:20] eorroe commented on #55
Sadly still same error, weird. I've never seen rx-lite either, until I've tried installing `lib.cli`

[2017-04-03 18:06] OliverCole opened #56 "Feature request: hot reload on 'lib http'"
It would be really useful to have hot reloading on the `lib http` local development server, so we don't have to kill and relaunch it.

[2017-04-06 06:24] ekousp opened #57 "lib create: Error Bad Request"
Hi,

i just fresh install the cli `yarn global add lib.cli`, log in & try to create a project, then get error:

[code]

where can i get detail error info, or enable the verbose mode?

[2017-04-06 08:21] jacoblee93 commented on #57
Hey ekousp,

Did you run lib init in the stdlib-workspace directory? Otherwise try lib login again and see if that resolves your issue.

[2017-04-06 09:10] zzmmzz777 commented on #57
tried again, it works now, thanks.

On 6 Apr 2017, at 16:21, Jacob Lee <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey ekousp,

Did you run lib init in the stdlib-workspace directory? Otherwise try lib login again and see if that resolves your issue.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com

[2017-04-06 09:12] #57 closed

[2017-04-06 16:57] jacoblee93 commented on #57
No problem! We should make this error message clearer.

[2017-04-08 08:01] dkhan11 opened #58 "Function Setup"
Hi,

I'm trying to understand from the documentation what is the proper way to handle setup/initialization of a new function. For example: It needs to connect to an underlying service, which takes time and I want it to be done just once on init.
Maybe I missed it, but I can't find reference for that.
Is it possible?

Thanks,
DD.

[2017-04-08 15:59] jacoblee93 commented on #58
Hi DD,

The easiest way is to run `lib function:create`.

Best,

Jacob

[2017-04-10 06:52] dkhan11 commented on #58
Ok, thanks!

[2017-04-10 06:52] #58 closed

[2017-04-10 13:55] jacoblee93 commented on #58
No problem! For future reference, you can see a list of available commands by running`lib help`.

[2017-04-11 14:50] neocite opened #59 "Change HTTP code in node.js"
How to change the HTTP code in node function?

Example:

[code]
Can i help me?

[2017-04-11 18:26] keithwhor commented on #55
Hey @eorroe, I think this is an `inquirer` package issue. We've updated the CLI since you last tried this, can you try one more time? Also can you let me know your OS? (Win10?)

[2017-04-11 18:26] #53 closed

[2017-04-11 18:26] #40 closed

[2017-04-11 18:26] #41 closed

[2017-04-11 18:27] keithwhor commented on #56
We'll be refactoring a lot of how the local lib instances work so we can definitely touch on this :).

Will get back to you when we push something.

[2017-04-11 18:28] keithwhor commented on #59
Hey Neocite, we don't support different HTTP status codes right now. We'll be looking into it for a future release, certainly.

- Keith

[2017-04-11 18:28] #59 closed

[2017-04-11 18:33] eorroe commented on #55
Cool it worked

[2017-04-11 18:33] #55 closed

[2017-04-18 05:30] psigen opened #60 "CORS options not set when returning an error."
When a service function returns an error, the `stdlib` servers return that response as a code 400 in `text/plain` **without** adding proper CORS headers.  This causes browser libraries to fail to correctly receive any error responses.  The issue seems to be entirely server-side.

----
Consider the following function that returns an error in some situations:
(Code is running at http://pras.stdlib.c

[2017-05-12 23:29] mikesprague opened #61 "Error: No parser found for extension ".json""
### Error produced on two computers with the following operating systems:
- MacOS Sierra (w/ latest updates)
- Ubuntu 16.04

### Each computer has the same version of Node/npm/lib.cli installed:
- lib.cli v3.0.0-rc9
- Node v7.10.0
- npm v4.6.1

### Details
- I gave the tutorial on the Medium Slack Platform Blog ([Build a “Serverless” Slack Bot in 9 Minutes with Node.js and StdLib](https://medium.c

[2017-05-13 11:35] marc-se commented on #61
Can confirm this error, running node v6.9.5 on MacOS Sierra (w/ latest updates)

[2017-05-13 12:31] keithwhor commented on #61
This should fix the issue right now;

Add: `"build": "legacy"` under the `"stdlib"` field in `package.json`.

LMK if you still have trouble. We're pushing a new release by Monday and a release candidate was accidentally published to NPM. (Hence 3.0.0-rc9 for your version.) I thought I tore it down but apparently it's still running as the latest version.

[2017-05-13 16:08] marc-se commented on #61
Thanks for your fast reply @keithwhor - it doesn't work for me, but don't worry, I'll wait till the monday release arrives 👍🏼

[2017-05-13 17:47] mikesprague commented on #61
That did it! Looking forward to finishing that tutorial and then digging further into stdlib. Thanks!

[2017-05-13 17:47] #61 closed

[2017-05-14 00:36] mikesprague commented on #61
@marc-se I know this is stating the obvious, but just in case (since the suggested fix worked for me), if you have the following `"build": "faaslang",` in your `package.json` under the `"stdlib"` field, you should change `faaslang` to `legacy` - versus adding an additional entry.

[2017-05-14 22:20] keithwhor commented on #60
Hey @psigen - apologies for taking about a month to get to this. We've just released a new version of the service builder and our execution gateway, based on the [FaaSlang specification](https://github.com/faaslang/faaslang). This should be fixed for new services. (You'll have to update `lib.cli` and create a new service to test.)

[2017-05-14 22:20] #60 closed

[2017-05-14 22:21] keithwhor commented on #61
@marc-se and @mikesprague --- Update `lib.cli` to `3.0.1` (or newer) and follow the updated instructions on [the Medium article](https://medium.com/slack-developer-blog/build-a-serverless-slack-bot-in-9-minutes-with-node-js-and-stdlib-b993cfa15358).

Should work A-OK now :).

[2017-05-16 12:17] jacoblee93 opened #62 "Local execution with context.identifier doesn't work properly with __main__ functions"
fixme ;)

[2017-05-23 14:45] cottonsean opened #63 "Alexa skill"
I was trying out your build an Alexa skill based on your article on hackernoon.com.  I ran into the following issue when trying to test the skill I typed "lib ." and got the following error:

Error: Invalid package.json in this directory
  any idea of what is happening?

thanks

[2017-05-23 18:22] keithwhor commented on #63
Yeah, your `package.json` is malformed (syntax error).

There's actually another issue with the Alexa Skills, we'll be updating the template / guide shortly to match the new [FaaSlang](https://github.com/faaslang/faaslang) specification.

[2017-05-26 19:04] ryanhaney opened #64 "Cannot deploy demo on website homepage"
I get an error when trying to run the demo on the stdlib.com home page. The error is entitled "Deployment Failure" with description 'Bad Request: No "function.json" files found'.

Attached image fully illustrates error. I was logged in with my stdlib.com username 'appology'.

![demo_deployment_error](https://cloud.githubusercontent.com/assets/1445619/26508952/790e985e-420b-11e7-98ec-00d16e73931e.p

[2017-05-26 19:17] prodrammer commented on #61
I'm getting this when attempting to 'lib http' the vue template example at:

https://docs.stdlib.com/main/#/templates/vue

I'm running:
- node 6.10.3
- npm 3.10.10
- lib 3.0.2
- macOS Sierra 10.12.2

If I change the build setting in package.json from "faaslang" to "legacy", 'lib http' works.

@keithwhor: Is the release pushed? Is faaslang supported?

[2017-05-26 19:28] ryanhaney opened #65 "Errors when running vue template example"
I'm trying to get this vue template example up and running:

https://docs.stdlib.com/main/#/templates/vue

I initially was getting the error 'Error: No parser found for extension ".json"'. I switched the package.json build setting from "faaslang" to "legacy" as recommended in #61 and now I am getting the following error after hitting the site hosted by the 'lib http' command.

`ryanhaney$ lib http

[2017-05-26 19:35] jacoblee93 commented on #61
@ryanhaney We'll be pushing an updated version of the Vue template to support faaslang very soon. We're in the process of phasing out all of our legacy templates. We will let you know when it's ready!

[2017-05-26 19:57] keithwhor commented on #64
Thanks for catching this! It's fixed. The testing suite won't allow you to set parameters right now but we'll be updating this to work shortly.

[2017-05-26 19:57] #64 closed

[2017-05-26 20:14] ryanhaney opened #66 "Add full service url on deployment to home page demo"
For a newbie, it's nice to know the full url to the service I just deployed. Unless I am missing something [that already exists in the demo], I have to know how to translate "{username}/hello@dev" to "https://{username}.stdlib.com/hello@dev/".

[2017-05-26 20:58] prodrammer commented on #61
@jacoblee93:

I assume the templates that will be updated are located at https://github.com/stdlib/utils.templates.

If so, I can watch that repo. Please confirm. Thanks!

[2017-05-26 21:40] jacoblee93 commented on #61
Yessir. It should be soon -- the code is ready, we're just combing through it again.

[2017-05-30 19:31] jacoblee93 commented on #65
Hey @ryanhaney,

We haven't merged the new version of the Vue template into the repo yet, but it's now live if you run `lib create -t vue`. Give it a try, and let me know if something's off!

[2017-05-31 19:08] nemo opened #67 "-f flag doesn't work in 3.0.x"
Hey there,

Looks like the `-f` flag no longer works on the new cli!

[2017-06-05 09:59] hbakhtiyor opened #68 "Error retrieving template: slack"
`lib create -t slack`

[code]

versions:
Node: v8.0.0
lib: 3.0.2

[2017-06-05 14:13] jacoblee93 commented on #68
Hi @hbakhtiyor,

Are you perhaps behind a proxy or something similar? That can interfere with retrieving templates.

Best,

Jacob

[2017-06-05 14:22] hbakhtiyor commented on #68
hi, no,

npm works well

[2017-06-05 15:09] jacoblee93 commented on #68
I'm unable to repro on my Mac - did you encounter this consistently? Your machine is having trouble talking to our template service for some reason...

[2017-06-05 16:06] jacoblee93 commented on #68
Could you tell me what OS you're using? That might help narrow down the possible problems.

[2017-06-05 16:47] hbakhtiyor commented on #68
in the evening, strangely works :D

[2017-06-05 16:47] #68 closed

[2017-06-05 16:53] jacoblee93 commented on #68
Good to hear!

[2017-06-05 17:02] jacoblee93 commented on #68
Let me know if I can help with anything else.

[2017-06-07 16:00] alexcaulfield opened #69 "Working with Alexa skills"
@keithwhor I originally was getting the same error as @cottonsean but then I changed the package.json to use the library used in the hackernoon example. When I tried to run the command lib . /nameofintent/, it gave me this:
![image](https://user-images.githubusercontent.com/19693552/26888310-a42352a2-4b78-11e7-8eb1-20b7a17d2671.png)
However, I was able to move the two files in the main folder and

[2017-06-07 18:05] jacoblee93 commented on #69
Hey @alexcaulfield,

Unfortunately we haven't had a chance to update the Alexa template and our docs yet to our new standard, but it'll be soon! I apologize for the inconvenience -- we'll keep you posted.

Jacob

[2017-06-12 03:46] aggierunner commented on #61
I'm having this issue now too, but changing build to legacy as suggested above, fixes the json parser error.

Although that fixes the json error, I'm getting a new error when I try to test the function (`lib . HelloWorld`) `Error: Cannot find module '/path/stdlib/myID/alexa/functions/index.js'`

Any suggestions? It looks like index.js is inside a main folder, but something is expecting it to be in

[2017-06-12 22:11] jacoblee93 commented on #61
@aggierunner We updated our Vue template to work with FaaSlang, but we still have to update our Alexa template.

Is there a file called __main__.js in your `myID/alexa/functions` directory? If there is, renaming that to `index.js` and removing the context argument from the function may work for a legacy build.

[2017-06-14 15:25] ashish1dev opened #70 "lib init not working."
stdlib library install perfectly.

`npm install lib.cli -g`

but when i run `lib init` , i get `command not found` error.

Here are the screen shots:

<img width="804" alt="screen shot 2017-06-14 at 4 06 35 pm" src="https://user-images.githubusercontent.com/706456/27140575-82738e6c-5143-11e7-8864-7740bb657209.png">

Even after reloading `source ~./zshrc`, getting same issue:

<img width="323" alt=

[2017-06-14 15:36] jacoblee93 commented on #70
Do any of the other commands work? Try `which lib`, it might be that the `lib` binary isn't in your path for some reason.

[2017-06-14 15:37] jacoblee93 commented on #70
Also try `lib version`.

[2017-06-14 15:38] ashish1dev commented on #70
No it doesn't work.
<img width="267" alt="screen shot 2017-06-14 at 9 07 51 pm" src="https://user-images.githubusercontent.com/706456/27141356-8da62946-5145-11e7-8ec6-1061a7812f08.png">

[2017-06-14 15:38] ashish1dev commented on #70
<img width="307" alt="screen shot 2017-06-14 at 9 08 34 pm" src="https://user-images.githubusercontent.com/706456/27141393-a880c2b2-5145-11e7-8f78-ac1079f7006a.png">

[2017-06-14 15:58] jacoblee93 commented on #70
Hmm yeah it looks like for some reason `npm install -g` didn't add `lib` to your path. I'm not super familiar with zsh but adding `export PATH=/usr/local/cellar/node/6.2.0:$PATH` to your `.zshrc` file might work? You'll have to run `source/.zshrc` afterwards.

You basically want to add the directory that `npm` installed the `lib` binary into to your path, which, based on your first screenshot, loo

[2017-06-14 15:59] jacoblee93 commented on #70
https://stackoverflow.com/questions/11530090/adding-a-new-entry-to-the-path-variable-in-zsh

[2017-06-14 16:05] ashish1dev commented on #70
After adding the `export PATH=/usr/local/cellar/node/6.2.0:$PATH` to `.zshrc` file.

I again did `npm install lib.cli -g`

I now get `permission denied` error, so i tried with sudo but I still get error.

<img width="584" alt="screen shot 2017-06-14 at 9 34 15 pm" src="https://user-images.githubusercontent.com/706456/27142677-5e91f3de-5149-11e7-9ec4-35cec447666b.png">

[2017-06-14 16:19] jacoblee93 commented on #70
Have you ever installed anything globally with `npm` before? You could try the steps here: https://stackoverflow.com/questions/15843199/globally-installed-npm-packages-not-working

[2017-06-14 21:09] #65 closed

[2017-06-14 21:09] keithwhor commented on #67
Use `--param file:./path/to/file.txt` instead :)

[2017-06-14 21:09] #67 closed

[2017-06-14 21:09] #63 closed

[2017-06-14 21:10] keithwhor commented on #66
We'll be overhauling the onboarding demo shortly, and will keep this in mind. :) Thanks!

[2017-06-14 21:10] #66 closed

[2017-06-14 21:10] keithwhor commented on #62
`context.service.identifier` is what you're looking for.

[2017-06-14 21:10] #62 closed

[2017-06-14 21:27] keithwhor commented on #70
@ashish1dev Can you try upgrading to Node 6.10.1 or higher and see if you get the same error?

I tried recreating this in oh-my-zsh on my own and couldn't reproduce.

[2017-06-14 23:16] keithwhor commented on #69
Hey @alexcaulfield and @cottonsean -

We've updated our Alexa template as of https://github.com/stdlib/utils.templates/commit/dd6ad787cbf5f38a6f6fffc7ba898bb796b3815c.

We've also updated the Alexa Skills tutorial to match it - https://hackernoon.com/build-an-alexa-skill-in-7-minutes-flat-with-node-js-and-stdlib-70611f58c37f

Let me know if you have any more problems! Try creating from a fresh tem

[2017-06-14 23:16] #69 closed

[2017-06-21 14:51] olivermaldonado opened #71 "lib up fails when using git dependencies"
When using npm to install any package dependency directly from git, it works locally but it fails when deploying with:

Is there any way to fix this?

[2017-06-21 15:34] jacoblee93 commented on #71
What dependencies did you use? Or is it any deps? I'll try to repro.

[2017-06-21 16:00] olivermaldonado commented on #71
As far as I can tell, it won't work with any git dependency. I have only tried with github though, maybe the problem is with them?

Last test I did was creating a new service from scratch:
[code]
then inside the service directory:
[code]

This is the result
[code]

This is the package.json
[code]

[2017-06-21 16:05] jacoblee93 commented on #71
Ah yes, that format unfortunately won't work currently. Try installing it as `npm install moment --save`.

[2017-06-21 16:09] olivermaldonado commented on #71
OK. I was just using moment as an example. I was trying to use a repo that is not in npm.
It would be useful to have that other option in the future. So currently only published npm packages work.

Thanks!

[2017-06-21 16:09] #71 closed

[2017-06-21 16:11] jacoblee93 commented on #71
Agreed. We have it queued up on our roadmap, and will get it out soon!

[2017-06-21 16:17] jacoblee93 commented on #71
We'll update our docs to reflect this in the meantime.

[2017-06-28 18:31] jacoblee93 opened #73 "Opening functions directory in Finder breaks execution"
This is because a `.DS_Store` file is generated, and we attempt to treat it as if it were a function. We should ignore or delete this file when executing.

[2017-06-30 20:42] vellum opened #75 "lib init hangs at password field"
- When I do `lib init`, I'm able to enter my email address and get a "welcome back" message.
- However: when I'm prompted for my password, my terminal hangs and I'm unable to type my password or even do a control-c.
- The same thing happens when I enter a new email address to register a new account.
- I had a previous version of lib.cli installed. I tried removing the directories listed in the rea

[2017-08-08 17:05] notoriaga opened #78 "function names can't contain hyphens"
`lib .test-function`

Error: Invalid function name: test-function (test-function.js)
All path segments must be alphanumeric (or -, _) and start with a letter

[2017-08-11 13:21] Pokom opened #79 "Documentation Errata"
In [connecting-service-enpoints](https://github.com/stdlib/lib#connecting-service-endpoints), I believe a snippet of code may have a mistake(or I am being dense, which is always a possibility!). In particular, when running add_double, I get the following output:

[code]

I did a console log of context to see why the following string template was returning undefined:

[code]

and noticed the identi

[2017-08-14 00:42] shaozi opened #80 "home page rendering issue in Safari"
Hi,

Your home page: https://stdlib.com has the following issue in Safari:

When the banner `Function for <some dynamic thing> in Seconds` dynamically changes, all page got flashed. You can see the black paragraphs flash for fraction of seconds as if they are re-rendered.

[2017-08-14 08:26] lewisblackwood opened #81 "Feature request: Run all services on the same port with 'lib http'"
It would be useful to run all services in a project on single port with `lib http`. You could then proxy client requests locally in development.

Currently, it's possible to run all services locally but you'd need to specify a different port for each with: `lib http -p <port number>`.

[2017-08-20 07:33] keithwhor commented on #81
Thanks! Might be a few releases away, but will let you know when we get to this. :)

[2017-08-20 07:34] keithwhor commented on #79
Thanks! This was fixed by another community member in https://github.com/stdlib/lib/pull/82.

Let us know if you find anything else, happy to accept PRs!

[2017-08-20 07:34] #79 closed

[2017-08-20 07:35] keithwhor commented on #75
Hey - is this still an issue on your old machine?

[2017-08-20 07:37] keithwhor commented on #73
Can you open a PR to automatically ignore .DS_Store when sending to the registry?

[2017-08-20 07:41] keithwhor commented on #70
Closing due to lack of response. Let me know if you still have trouble with this.

[2017-08-20 07:41] #70 closed

[2017-08-20 07:57] tony-h commented on #70
I'm had the same error as @ashish1dev on Ubuntu 16.04.2, but upgrading Nodejs to v8 using PPA solved the problem for me: https://tecadmin.net/install-latest-nodejs-npm-on-ubuntu/
[code]
I assume the error is a version issue since apt-get pulls in an older version of Nodejs (v4).  Once I fixed the link issue, init then generated an error.

Here is the procedure that reproduced the error described b

[2017-08-21 15:55] Pokom commented on #79
Great thanks! In the future I'll prepare a pr to submit as well if it's just on documentation! I really enjoy the project so far, have some interesting use cases to try out.

[2017-08-29 22:25] jacoblee93 commented on #80
Will be fixed shortly! Thanks for bringing this up.

[2017-08-30 04:23] avemuri opened #85 "lib init throws "unexpected token" errors"
$ lib init
`/usr/local/lib/node_modules/lib.cli/cli/commands/__nomethod__.js:162
        lib(cfg)[params.name](kwargs, ...args, cb);
                                      ^^^

SyntaxError: Unexpected token ...
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:414:25)
    at Object.Module._extensions..js (module.js:442:10)
    at Module.load (module.js:356:32)
    at F

[2017-08-30 04:27] keithwhor commented on #85
You should make sure you're running Node 6.x or higher.

[2017-08-30 17:57] jacoblee93 commented on #80
Should be fixed now, let me know if the issue reappears!

[2017-09-03 15:54] adius opened #86 "Format documentation with StandardJS"
https://standardjs.com is nowadays the most popular way to format JavaScript.
Therefore I think you should format your code examples accordingly, to make it easier and more familiar to read for most JavaScript developers.

[2017-09-08 01:38] #80 closed

[2017-09-19 13:23] philipphager opened #88 "Lib init throws initialisation error if STDLIB_ACCESS_TOKEN is missing"
I just installed the latest version of stdlib and got the following error while running `lib init`:

[code]

My configuration:
nodeJs: v6.11.3
npm: 3.10.10
stdlib: 3.3.0

I was able to fix the issue by creating an empty environment variable `STDLIB_ACCESS_TOKEN`,
but I guess this shouldn't be required to run the init command. Also all subsequent calls, such as lib create.. fail then due to bad req

[2017-09-19 14:35] keithwhor commented on #88
Hey @philipphager! Thanks for the catch. I've put out a hotfix. Can you try upgrading to `lib.cli@3.3.1` and let me know if the problem persists?

[2017-09-19 14:40] philipphager commented on #88
Hey @keithwhor! It worked perfectly! Thank you and props for the impressive response time! Keep up the good work!

[2017-09-19 14:40] #88 closed

[2017-09-19 14:40] keithwhor commented on #86
Hey @adius!

I'm not opposed to this, we should at the very least use `prettier`. I love semicolons and I have a personal style I like, but there's an argument to be made for Standard style, certainly.

I can talk with the team about this: it's not a top priority, so don't be surprised if it takes a little while - I don't think semicolons make things less readable, so I'll give pushback there, but

[2017-09-19 14:41] keithwhor commented on #85
I'm closing this - please LMK if issue happens again!

[2017-09-19 14:41] #85 closed

[2017-09-19 14:41] #75 closed

[2017-09-22 19:07] adius commented on #86
Yeah I love semicolons. There is nothing better than useless characters in code. That's why I tend to write my code like this:

[code]

It really makes things a lot more readable. It's quite amazing!

;-)

[2017-09-22 19:33] keithwhor commented on #86
Hey, I understand you're making a joke but we're taking this seriously and would prefer if comments in issues are productive.

Nothing against you, just want to set policy. Thanks for understanding :)! We'll get to this when we can.

[2017-09-22 20:26] adius commented on #86
I'm not joking. I'm dead serious that using semicolons in JavaScript is really ridiculous.
Your code contains numerous lines where you forgot to put the semicolon (e.g. https://github.com/stdlib/lib/blob/master/cli/config.js#L49), which is totally understandable as it literally makes no difference.

I just can't wrap my head around why one would bother to put useless characters into their code.
No

[2017-09-22 20:39] #86 closed

[2017-09-22 20:44] keithwhor commented on #86
Hey Adrian - thanks for the input. We heard you loud and clear with the first ask. If you'd like to submit a PR that uses `prettier` to format the codebase without semicolons, you're free to do so and we'll gladly review it. Otherwise updates to style changes will be on our timeline. I've closed the issue as we understand what you're requesting and we've listed it as a todo internally.

Cheers and

[2017-10-11 13:12] gunar opened #91 "How does stdlib differ from serverless/serverless?"
This might be a dumb question, but I sincerely don't understand.

Thanks in advance.

[2017-10-11 14:01] keithwhor commented on #91
No problem! We're a full-service FaaS platform (we host your functions, provide a registry, etc.), not a framework. :) Hope that helps!

- Keith

[2017-10-12 21:38] ericnograles opened #93 "lib up dev package dependency installation failure for Phantom"
Hi guys,

Great job on this, I'm really enjoying hacking on stdlib. Got a bit of a weird case here that I just wanted to bring up.

Just for kicks, I tried to spin up a microservice that uses [Phantom](https://www.npmjs.com/package/phantom) to render webpages as PDF's or images.  However, `lib up dev` seems to fail at the dependency installation.

![image](https://user-images.githubusercontent.com

[2017-10-17 17:17] jacoblee93 commented on #93
Hi Eric,

Sorry about the delay. Glad you've been enjoying the platform!

We don't yet support npm packages with static binaries - would something like [Puppeteer](https://github.com/GoogleChrome/puppeteer) fit your use case?

[2017-10-17 19:19] ericnograles commented on #93
Hey @jacoblee93, yep, I was going to go that route, but I figured I'd ask here for posterity.  Good to know for future reference about static bins.  Thanks for the clarification!

[2017-10-17 19:19] #93 closed

[2017-10-18 23:42] shivkanthb opened #96 "lib login error"
In case of an incorrect auth, lib login fails for the subsequent attempts.

Temp fix:
exit window and lib login again.

[2017-10-20 13:13] ericnograles opened #100 "Support for HTTP POST's on stdlib functions?"
Hi guys,

Sorry if I missed this in the docs, but is there currently to invoke an stdlib function using an HTTP POST, or is it all GET's by convention?

[2017-10-20 18:43] jacoblee93 commented on #100
Hey Eric,

Yes, you can invoke a function using POST. If you call a StdLib function with a POST request, we will interpret the body of your request as the parameters to the function in accordance with the [FaaSlang spec](https://github.com/faaslang/faaslang).

You can see a (very) simple example here: https://github.com/faaslang/faaslang#what-is-faaslang

[2017-10-20 18:53] ericnograles commented on #100
Thanks @jacoblee93, totally missed that!

[2017-10-20 18:53] #100 closed

[2017-10-27 20:47] blondesalad87 opened #102 "error package.json"
Following this demo https://medium.com/slack-developer-blog/build-a-serverless-slack-bot-in-9-minutes-with-node-js-and-stdlib-b993cfa15358

When I go to deploy I'm receiving an Error: Invalid Package.json

Can anyone help?

Here's the JSON Template. I've filled out everything perfectly, but it seems that when I run a JSON formatter that the error has to do with double quotes around the Slack App n

[2017-10-27 21:00] blondesalad87 commented on #61
@jacoblee93 does the change for the Vue template apply to the Slack template as well?

[2017-10-27 21:25] jacoblee93 commented on #102
Hi @blondesalad87,

Can you show me your package.json file?

[2017-10-27 21:26] jacoblee93 commented on #61
@blondesalad87 yes, it should all work fine now. Let's continue the conversation on the other issue that you opened!

[2017-10-27 23:12] blondesalad87 commented on #102
@jacoblee93 sure, here it is:

<img width="634" alt="screen shot 2017-10-27 at 4 11 16 pm" src="https://user-images.githubusercontent.com/11529416/32128305-92e7e948-bb31-11e7-907a-1cdda559cc61.png">

I tried modifying the "build" to "legacy" per a few other templates that I've seen with the change; didn't help.

[2017-10-27 23:13] blondesalad87 commented on #102
@jacoblee93 Also, I have the author piece removed for now just to maintain the integrity of my the email I"m using :)

[2017-10-27 23:25] jacoblee93 commented on #102
I was able to reproduce your error -- I believe the problem is the smart quotes around "build": “faaslang” (Mac's TextEdit program replaces normal quotes by default for some reason, see https://apple.stackexchange.com/questions/120486/quotes-problem-in-mavericks-or-textedit).

Can you try again while replacing them with straight quotes? Let me know.

[2017-10-27 23:43] blondesalad87 commented on #102
@jacoblee93 Hmm, seems like I'm still getting the same error. Made the change in system preferences and within TextEdit. Furthermore, I also got rid of the smart dashes and made the changes across all JSON files. Re-started terminal and nada. Could it possibly be something else?

[2017-10-30 23:44] blondesalad87 commented on #102
@jacoblee93 any other ideas?

[2017-10-30 23:57] jacoblee93 commented on #102
Sorry about the delayed response!

Can you try running `lib http` from the same directory?

[2017-10-31 00:11] blondesalad87 commented on #102
No worries. Ran lib http and got the same error. Screengrab.

<img width="566" alt="screen shot 2017-10-30 at 5 10 48 pm" src="https://user-images.githubusercontent.com/11529416/32201637-61db6b0c-bd95-11e7-9c26-4c5e469b5856.png">

[2017-10-31 00:16] jacoblee93 commented on #102
Aha. You have to run commands like `lib http` `lib up dev` etc. from the directory containing your service. So in your case, run `cd adooreck/slack-app` or something similar, then try running `lib up dev`.

Let me know if that helps!

[2017-10-31 00:19] blondesalad87 commented on #102
Thanks! Almost there, but looks like there is still an issue with the JSON.

<img width="574" alt="screen shot 2017-10-30 at 5 18 47 pm" src="https://user-images.githubusercontent.com/11529416/32201898-7bdef856-bd96-11e7-8fa4-439f893b3dc3.png">

[2017-10-31 00:22] jacoblee93 commented on #102
Can you show me your `env.json` (with sensitive variables cleared)?

[2017-10-31 00:24] blondesalad87 commented on #102
<img width="635" alt="screen shot 2017-10-30 at 5 24 25 pm" src="https://user-images.githubusercontent.com/11529416/32202031-35e55830-bd97-11e7-989f-75f7fd17c5c5.png">

[2017-10-31 00:26] jacoblee93 commented on #102
I see more smart quotes around the value of `SLACK_APP_NAME` - can you try changing those too?

[2017-10-31 00:30] blondesalad87 commented on #102
BOOM! Success. Looks like the devil is in the details. Thanks so much Jacob!

[2017-10-31 00:32] jacoblee93 commented on #102
Glad it's working! Let me know if I can help further.

[2017-10-31 22:45] #102 closed

[2017-11-01 13:24] ErikAndreas opened #103 "Feat req: more flexible scheduling"
The ui interface only allows for fairly simple scheduling. It would be nice if scheduling could be done as CRON or Rate expressions (Azure functions, Aws lamda and Webtask all have it...)

[2017-11-06 16:03] Alber70g opened #104 "When behind proxy `lib create` doesn't work"
It seems that I'm not able to do `lib create` behind a proxy. I've setup HTTP_PROXY env vars but it doesn't work. How to enable the use of a proxy in the command line interface.

The error I get is: `Error: Server unavailable`

Is there a way to get a more verbose error log?

[2017-11-09 09:48] spences10 opened #106 "CLI issues on Windows"
Hello, I was taking a look at using this by following along with the Medium post [here](https://medium.com/@notoriaga/create-a-twitter-politician-bot-with-markov-chains-node-js-and-stdlib-14df8cc1c68a) and when I run the terminal command `lib get spences10/twitter-bot@dev` after installing the CLI I get what appear to be permission errors:

![image](https://user-images.githubusercontent.com/234708

[2017-11-11 21:49] NicholasLYang opened #107 "Comments must be right above exports"
Not actually a bug, more of a confusing error message. When I put code in between the annotations and the exports, like so:
[code]
I get the following error:

[2017-11-12 01:31] anishkny opened #108 "Unicode gets mangled"
If return string contains Unicode, it works fine locally and in curl, but gets mangled when viewed in the browser:

URL: https://anishkny.lib.id/hello@0.0.1/
Renders in browser as: "à¤¨à¤®à¤¸à¥à¤¤à¥‡ world"

Details:
[code]

[2017-11-13 19:05] anishkny commented on #108
While the team fixes this, here's a workaround:

[code]

[2017-11-18 08:51] notoriaga opened #109 "More specific error reporting for passing in truthy objects to error param in callback"

[2017-11-21 11:24] spences10 commented on #106
Hey @steveScripts I got this error on Windows but have it functioning on WSL so am happy to close this.

Judging by the number of responses I'm guessing it was just me so am happy to close this

Thanks!

[2017-11-21 11:24] #106 closed

[2017-11-21 23:29] anishkny opened #110 "@google-cloud/datastore causes Server Error: There was a problem installing your dependencies"
It seems having `@google-cloud/datastore` as a dependency causes deploy issue:

[code]

[code]

Here is the output from npm-installing it locally:
[code]

[2017-11-21 23:48] jacoblee93 commented on #110
This is related to https://github.com/stdlib/lib/issues/93

[2017-11-22 17:35] anishkny commented on #110
Thanks for the reply @jacoblee93

I tried to look for other ways to hit Cloud Datastore from stdlib but couldn't figure it out.

Access to Datastore from stdlib is pretty much a hard requirement for porting our [project](https://github.com/gothinkster/gcp-datastore-cloud-functions-realworld-example-app) over to stdlib.

[2017-11-26 02:37] jacoblee93 commented on #110
Should be fixed -- I was able to add something to a Cloud datastore using the package. Can you confirm @anishkny?

[2017-11-26 02:43] jacoblee93 commented on #93
@ericnograles this should work now if you still want to give it a try!

[2017-11-26 03:23] anishkny commented on #110
woot! thanks for the super fast response. Confirmed fixed.

[2017-11-26 03:23] #110 closed

[2017-11-27 02:54] sky-admin opened #111 "Can't run a lib function in zsh"
![image](https://user-images.githubusercontent.com/6292668/33248656-0ab71be6-d361-11e7-9b39-e018a0ff342f.png)
lib installed success, and create a function 'helloword', and up dev. but cant run remote in zsh. but can run it in bash, why?
![image](https://user-images.githubusercontent.com/6292668/33248704-561aa076-d361-11e7-92f1-7e52e2af3bf4.png)

[2017-11-27 02:57] keithwhor commented on #111
You’ll need to add a backslash before the brackets ([, ]) when working in zsh.

Let me know if that helps!

- Keith

[2017-11-27 03:05] sky-admin commented on #111
@keithwhor it works, thx!

[2017-11-27 03:05] #111 closed

[2017-11-27 16:35] edipetres opened #112 "Can't pass on boolean value in the online task scheduler"
When a boolean parameter is required in setting up the task schedule, the form will not accept any input for the boolean value field. (Tried `true, yes, True...`)
It can also not be left blank, so scheduling a task with a boolean parameter cannot be submitted.

[2017-11-27 18:52] jacoblee93 commented on #112
Should be fixed, let me know if you run into any other difficulties!

[2017-11-27 18:59] jacoblee93 commented on #112
Should be fixed, let me know if you run into any other difficulties!

[2017-11-27 19:00] jacoblee93 commented on #112
You should use `true` and `false` in the boolean field also.

[2017-11-27 19:42] edipetres commented on #112
It works great with the dropdown now. Thanks for the quick fix!

[2017-11-27 19:42] #112 closed

[2017-12-07 22:17] PEZ commented on #108
Possibly related. The tutorial slack bot, from here: https://medium.com/slack-developer-blog/build-a-serverless-slack-bot-in-9-minutes-with-node-js-and-stdlib-b993cfa15358

Has a message event handler that looks like so:

[code]

And it triggers on this message text: `@jon jag är ju den enda här som varit medlem i ett riktigt arbetarförbund :D`

[2017-12-09 23:06] hanabi1224 opened #113 "Cannot set get parameter in post request"
I think this is something stdlib should allow. Take slack bot as example, if I have different named functionality set (or even different bot) for bots, the only way to specify it is via get parameter because I cannot change postback data of the webhook,  creating and maintaining 2 different api endpoint is not preferable way for my case

[2017-12-14 04:42] whizkidsrise opened #114 "guidance to write code for Bot"
I need guidance to write code for following.
1. I want to send private welcome message to a new user who joined my slack team.
2.I want to assign this new user to a private slack channel. I want to create private channel through code.
3. I want user to send attachments and I want to access those attachments through code.

[2017-12-14 17:16] jacoblee93 commented on #114
For a private welcome message, you should be able to create an event handler for the Slack (team_join event)[https://api.slack.com/events/team_join].

To do that, just create a file in the `functions/events` directory of your Slack app called `team_join.js`, and subscribe to the bot event in your Slack dashboard like you did in the (tutorial)[medium.com/slack-developer-blog/build-a-serverless-slac

[2017-12-14 17:16] jacoblee93 commented on #114
Let me know if I can help further!

[2017-12-14 17:28] whizkidsrise commented on #114
Thanks Jacob. I will do that. In that same event handler, can I also create
private channel and assign this new user to private channel? Then I want to
send him/her welcome message to that private channel.

On Thursday, December 14, 2017, Jacob Lee <notifications@github.com> wrote:

--
Regards,
Ritesh
5102489605

[2017-12-14 17:38] jacoblee93 commented on #114
I've never created a private channel through code, but it looks like this Slack API call would work: https://api.slack.com/methods/groups.create. Then, after you've created the channel, just send a `chat.postMessage` to the newly created channel.

[2017-12-14 19:19] whizkidsrise commented on #114
Dear Jacob,

How do I write code in stdlib to make this API call? do you have utility
available just like chat.postMessage? I am a bit new to stdlib template and
SDK. So I might ask dumb questions.

Regards,
Ritesh

On Thu, Dec 14, 2017 at 9:38 AM, Jacob Lee <notifications@github.com> wrote:

--
Regards,
Ritesh
5102489605

[2017-12-14 19:23] jacoblee93 commented on #114
No worries! You could look at how we do it in `utils/message.js` sending an http request to the URL directly, or you could look at the [slack npm package](https://github.com/smallwins/slack). They have wrappers around all of the Slack API calls.

[2017-12-14 19:42] whizkidsrise commented on #114
awesome sir. thanks a ton.

On Thu, Dec 14, 2017 at 11:23 AM, Jacob Lee <notifications@github.com>
wrote:

--
Regards,
Ritesh
5102489605

[2017-12-15 03:24] whizkidsrise commented on #114
this is my code for team_join.js. How to specify that message should be
posted in #general channel?

const lib = require('lib')({token: process.env.STDLIB_TOKEN});

/**
*
* @param {string} user The user id of the user that invoked this command
(name is usable as well)
* @param {string} channel The channel id the command was executed in (name
is usable as well)
* @param {string} text The text conte

[2017-12-19 23:09] whizkidsrise opened #115 "link_names not working"
Hi,
I have slack channels and I am adding those as hashtags within message and sending through text parameter in hello command.
i am passing link_names = true parameter to ensure that hashtag becomes active if channel is already there.
It is not happening. Can you look into the issue pl?
Here is the code.

module.exports = (user, channel, text = '', command = {}, botToken = null, callback) => {

[2017-12-19 23:16] jacoblee93 commented on #115
What happens if you click the links generated? Do the links just not resolve?

Also, if you want an `ephemeral` response type, you shouldn't use the callback provided. Make a request to `https://api.slack.com/methods/chat.postEphemeral` and just return an empty callback instead.

[2017-12-19 23:24] whizkidsrise commented on #115
yes. the link does not resolve. I will change response type to in_channel.
I was just testing postEphemeral feature.

On Tue, Dec 19, 2017 at 3:16 PM, Jacob Lee <notifications@github.com> wrote:

--
Regards,
Ritesh
5102489605

[2017-12-19 23:43] jacoblee93 commented on #115
It looks like Slack is recognizing your hashes as links -- the only thing I can think of is that your channel ids are wrong?

You might have more luck going to Slack directly as this seems to be an issue with their API. We just pass the fields you add to your callback object into a postMessage API call: https://api.slack.com/support?ref=api_nav

If they're unable to help, I can try diving into the

[2017-12-19 23:45] whizkidsrise opened #116 "team_join event handler not working"
Hi,
I just wrote a simple welcome message on team_join event handler. But it's not working. Instead I am getting error in Slack.

here is the error I am getting.

![image](https://user-images.githubusercontent.com/25928172/34184250-8cefff1e-e4d3-11e7-8fd7-190e5f3f6ea2.png)

Here is my source code for team_join.js.

const lib = require('lib')({token: process.env.STDLIB_TOKEN});

/**
* /hello
*
*

[2017-12-19 23:51] whizkidsrise commented on #115
i changed back to in_channel. But same issue.

Channel id is not incorrect. because if you see #java with this
code <#C8FNUARQQ|java> is working. but if i mention only #java then that
link is not working.

[image: Inline image 1]

On Tue, Dec 19, 2017 at 3:43 PM, Jacob Lee <notifications@github.com> wrote:

--
Regards,
Ritesh
5102489605

[2017-12-19 23:52] jacoblee93 commented on #116
It seems like you've copy-pasted our slash command handler. You'll want to use something similar to our event handlers located in `functions/events`.

[2017-12-20 00:01] whizkidsrise commented on #116
I copied the code of channel_join. But the error still persists.

Here is new code.

const lib = require('lib')({token: process.env.STDLIB_TOKEN});

/**
* channel_join event
*
*   See https://api.slack.com/events-api for more details.
*
* @param {string} user The user id of the user that invoked this event
(name is usable as well)
* @param {string} channel The channel id the event was executed in

[2017-12-20 00:05] jacoblee93 commented on #116
I can't see the image you've uploaded, but if it's the same one, you could try getting rid of the comments above the function definition, then [logging](https://docs.stdlib.com/main/#/creating-services/logging) `context.params` to see what parameter isn't matching? I can look into it a bit later as well.

[2017-12-20 00:15] whizkidsrise commented on #116
Here is the error

![image](https://user-images.githubusercontent.com/25928172/34184983-c4e1a31a-e4d7-11e7-9f83-b161b1937ef1.png)

[2017-12-20 00:15] jacoblee93 commented on #116
Oh one other possibility -- did you remember to push an updated version of your service using `lib up dev` again or a similar command?

[2017-12-20 00:18] whizkidsrise commented on #116
after removing comments I am getting deployment error.

 Server Error: Function definition error (functions/events/team_join.js)

First parameter can not be of type "Any" or "Object"

This restriction is intended to reduce end-user confusion around your API,

if a function is called using only an Object, its properties map to
function parameters

If you wish to receive only an Object as a function

[2017-12-20 00:20] jacoblee93 commented on #116
Write it as `module.exports = (context, callback) => {`. You're sure you ran `lib up dev` again after replacing the command version of your handler with the proper event version?

[2017-12-20 00:22] whizkidsrise commented on #116
now here is the error I get.

Server Error: Function definition error (functions/events/team_join.js)

Nothing exported from file via "module.exports"

this is my code

onst lib = require('lib')({token: process.env.STDLIB_TOKEN});

mmodule.exports = (context, callback) => {

  callback(null, {

    text: `Hello <@${user}>,  Thank you for joining FirstBreak slack
channel.

      We provide suggesti

[2017-12-20 00:26] jacoblee93 commented on #115
Wait the `<#C8FNUARQQ|java>` link is working when you click it? Or it's not?

[2017-12-20 00:27] jacoblee93 commented on #116
You have a typo with `mmodule.exports`. I'll make a Slack bot now myself and see if I can get a handler working.

[2017-12-20 00:59] jacoblee93 commented on #116
OK, I figured the problem out. Slack apparently returns an `object` for the `user` param for certain events instead of a `string`. That's why you're getting a parameter error. We'll work on updating our templates and sourcecode.

Here's some code for `team_join.js` that worked for me:

[code]

[2017-12-20 01:02] jacoblee93 commented on #116
I also had to reauthorize my app from my app dashboard in api.slack.com to add some scopes for this particular event.

[2017-12-20 01:50] whizkidsrise commented on #115
<#C8FNUARQQ|java> link is working.
but I dont want to pass code. I just want to pass text.

On Tue, Dec 19, 2017 at 4:26 PM, Jacob Lee <notifications@github.com> wrote:

--
Regards,
Ritesh
5102489605

[2017-12-20 02:26] whizkidsrise commented on #116
Now I am unable to deploy the code.

 Bad Request: Unauthorized: Could not authenticate.

*Error: *There was an error processing your request

Is it because my system is unable to authenticate against stdlib?

How do I reconnect?

Ritesh

On Tue, Dec 19, 2017 at 5:02 PM, Jacob Lee <notifications@github.com> wrote:

--
Regards,
Ritesh
5102489605

[2017-12-20 02:30] jacoblee93 commented on #116
Run `lib login` from your StdLib root directory and reenter your credentials.

[2017-12-20 18:45] whizkidsrise commented on #115
Hi Jacob,
any update on this issue?
Regards,
Ritesh

On Tue, Dec 19, 2017 at 5:50 PM, ritesh mehta <er.ritesh.mehta@gmail.com>
wrote:

--
Regards,
Ritesh
5102489605

[2017-12-20 18:57] jacoblee93 commented on #115
I just took a look at the Slack docs here: https://api.slack.com/docs/message-formatting#parsing_modes

You could try passing in the parameters as:

[code]

[2017-12-20 18:58] jacoblee93 commented on #115
It looks like `link_names: 1` should do the trick though by itself.

[2017-12-20 19:34] whizkidsrise commented on #116
your code works. many thanks!

On Tue, Dec 19, 2017 at 6:30 PM, Jacob Lee <notifications@github.com> wrote:

--
Regards,
Ritesh
5102489605

[2017-12-20 19:51] whizkidsrise commented on #115
Hi Jacob,

only with link_names: 1 the links for slack channel are still not working.

![image](https://user-images.githubusercontent.com/25928172/34225629-f2c424d4-e57b-11e7-910d-7744f6441738.png)

with parse = full and link_names: 1, though the slack channels links are working, but the website URL are now appearing instead of just text.

![image](https://user-images.githubusercontent.com/2592817

[2017-12-20 19:55] whizkidsrise opened #117 "how to call python code from slack node.js event handler"
Hi,

I am writing a machine learning python code that I want to invoke from slack node.js event handler.

I want to understand whether I can deploy my machine learning python code on stdlib. I am using bunch of NLTK, web parsing etc libraries in my machine learning code.

the option I was thinking is to deploy my machine learning code on AWS and expose it as web service. Call such webservice from

[2017-12-20 20:46] jacoblee93 commented on #115
Try `link_names: '1'` with 1 as a string? Slack can be particular about that.

[2017-12-20 21:29] jacoblee93 commented on #117
We don't currently support Python in our functions - we've got it on our radar though.

[2017-12-20 23:54] whizkidsrise opened #118 "Unable to create new channel on team_join event"
Hi, I tried so many variation of following code. But I am unable to create new channel. I can create new channel with same token id in the slack API tester mode.
Pl. let me know what is the issue with my code.

const lib = require('lib')({token: process.env.STDLIB_TOKEN});
const token = 'xoxp-217388403382-217595653223-290185281447-81be57dc3fcb56d31810a8ae9989d989';
const request = require('request

[2017-12-21 00:08] whizkidsrise commented on #117
Can I call external webservice from stdlib event handler? pl. share sample
code. I dont think I can write such code on callback function. It may be
inside module.exports. I am new to stdlib templates.

On Wed, Dec 20, 2017 at 1:29 PM, Jacob Lee <notifications@github.com> wrote:

--
Regards,
Ritesh
5102489605

[2017-12-21 00:25] whizkidsrise commented on #118
Interesting! the channel is getting created from above method. But, it takes 10-15 mins. May be it's slack api issue?

[2017-12-21 23:14] whizkidsrise opened #119 "Unable to read file id in file_created event"
Hi,
I added new event handler file_created. The event handler is working fine. But I am unable to retrieve file id or any other file parameters. I am getting it as "undefined". What could be the problem in my code? Here is my code.

const lib = require('lib')({token: process.env.STDLIB_TOKEN});
/**
* file_created event
*
*   See https://api.slack.com/events-api for more details.
*
* @param {string

[2017-12-21 23:31] jacoblee93 commented on #119
You won't receive a `file` param, the file info is probably in the `event` param. You can try logging the `event` param you receive: http://docs.stdlib.com/main/#/creating-services/logging

[2017-12-21 23:32] jacoblee93 commented on #119
Also, I think it might be better to continue these discussions in our Slack channel - you can get an invite from https://stdlib.com by clicking the button under the community tab :)

[2017-12-23 10:58] exsmiley commented on #78
This seems to be an issue with faaslang instead: [https://github.com/faaslang/faaslang/blob/70bf181083473f1baaa97c18df40f3eda3db7ef2/lib/parser/function_parser.js#L50](url)

[2018-01-09 11:08] edipetres opened #120 "Cannot get Slack slash commands working"
Have followed the tutorial on medium with the template Slack app, double checked for authorization and links to be correct, are able to trigger the functions manually but Slack will keep throwing an error saying `Darn - that slash command didn't work (error message: `400_client_error`). Manage the command at Test App.`
Since the requests don't even seem to reach my /hello function from Slack I don

[2018-01-09 16:49] jacoblee93 commented on #120
Hey @edipetres,

Do events work?

If you're able to trigger the endpoint manually, is it possible that you've put the url into slack wrong? Could you show me the exact link either here or via joining our slack channel (invite link is under community tab at https://stdlib.com).

[2018-01-13 01:08] civocr opened #122 "Support for private repo dependancies"
I have a few internal dependancies which are private repos on github. I've added them to package.json but fails on lib up dev

I'm using github's token auth so no need to upload a signing key.

    "b-config": "git+https://<token here>:x-oauth-basic@github.com/myuser/config-component-node.git",

    "b-database": "git+https://<token here>:x-oauth-basic@github.com/myuser/database-component-node.git

[2018-01-14 04:57] #120 closed

[2018-01-14 04:58] #119 closed

[2018-01-14 04:59] keithwhor commented on #117
Hey @whizkidsrise: sorry for leaving you hanging here. Yes, you definitely can call external webservices from StdLib Event Handlers. :) Can you give me an example of exactly what you'd like to do? Is it a StdLib function you'd like to call or another webservice?

Cheers,
- Keith

[2018-01-14 04:59] #118 closed

[2018-01-14 05:00] #116 closed

[2018-01-14 05:00] #115 closed

[2018-01-14 05:07] #114 closed

[2018-01-14 05:08] keithwhor commented on #113
Hey @hanabi1224: Can you give me a real-world example of your use case? I'm open to exploring this but it also opens up edge cases and potential for confusion / weird usage.

[2018-01-14 05:10] keithwhor commented on #108
Hey @anishkny: I think you brought this up in Slack, but I don't see this problem using Chrome `63.0.3239.132`. It's my understanding that based on the JSON spec, `application/json` should *always* be utf-8 and not require a charset, meaning this is likely a browser issue.

[2018-01-14 05:12] keithwhor commented on #107
Hey Nicholas,

We're (finally) catching up on backlog. This is actually part of the https://github.com/faaslang/faaslang/ specification and we don't have intention of changing behavior at this point. Allowing function definitions anywhere opens up too much surface area for confusion or bugs; the recommended approach is to just move your imports to the top of the file. :)

[2018-01-14 05:12] #107 closed

[2018-01-14 05:14] keithwhor commented on #104
Hey @Alber70g: Thank you so much for your patience here, I know it's taken me a while to respond. 🙏

Can you let me know what proxy software you're using? I can definitely look into more verbose error reporting on connection failures.

[2018-01-14 05:16] keithwhor commented on #103
Hey @ErikAndreas : I agree, we should provide for more flexible scheduling. I'll tag @jacoblee93 and @notoriaga who will be handling this, and they can keep you up to date on progress. I've added it to our official internal roadmap. :)

[2018-01-14 05:17] #96 closed

[2018-01-14 05:17] keithwhor commented on #96
We fixed this in most recent release (4.1.x). Enjoy!

[2018-01-14 05:20] keithwhor commented on #122
Hey @civocr! You caught us at a good time. @jacoblee93 is the lead on our build engine and can keep you up to date. This is a *must have* so you can expect this soon.

[2018-01-14 05:22] keithwhor commented on #117
Was told this got resolved off-band in Slack. Closing. :)

[2018-01-14 05:22] #117 closed

[2018-01-14 05:22] #108 closed

[2018-01-14 05:27] #78 closed

[2018-01-14 05:28] keithwhor commented on #109
This is technically a https://github.com/faaslang/faaslang/ - but will get on it.

[2018-01-14 06:55] anishkny commented on #108
Yup can repro in `Safari Version 11.0.2 (12604.4.7.1.4)` but *not* in `Chrome Version 63.0.3239.132`. Thanks for following up.

[2018-01-14 17:11] keithwhor opened #126 "Search functionality not consistent / clear"
- Main website searches through sourcecode OR public services
- Dashboard searches through your services
- Docs search through docs

More importantly, *almost all widgets look the same*.

I think we need consistency here: either give all widgets the same functionality (dropdown for public services, sourcecode, your services, and docs) or change how they look. I think first option is ideal.

[2018-01-14 18:24] NotWoods opened #127 "lib.cli doesn't parse a string starting with a dash (-) properly"
[code]
[code]
[code]

Note: the HTTP interface works with the dash character. Most likely the command line parses the dash as another parameter like `--tag`.

[2018-01-21 04:22] keithwhor commented on #127
Yep, I believe that's what's happening. I can look into this. 👍

[2018-01-21 12:53] zooshme commented on #100
Hi,

I've been trying to make post requests to a local stdlib service but the context.params object is always emtpy.

Any idea what could be causing it? I'm using Postman to make the requests, setting the Content-Type to application/json and sending the body as a json object.

Thank you

[2018-01-21 13:02] jacoblee93 commented on #100
@zooshme Could you open a new Github issue for this?

[2018-01-25 07:21] zooshme opened #128 "Context.params empty on post requests"
Hi,

I've been trying to make post requests to a local stdlib service but the context.params object is always emtpy.

Any idea what could be causing it? I'm using Postman to make the requests, setting the Content-Type to application/json and sending the body as a json object.

Thank you

[2018-01-25 07:22] zooshme commented on #100
Done https://github.com/stdlib/lib/issues/128

[2018-02-08 06:21] Chinaski1979 opened #131 "Responding with errors using async await"
Whenever I try to respond with an error using async await, browser interprets response as successful.

For instance if I do this:

[code]
It's there's an error its response would be something like:

[code]
Which is ideal. And that's because I'm able to specify an error with the callback(). But I can seem to accomplish the same result with async/await. It will always send the response as status cod

[2018-02-08 19:23] civocr commented on #122
hey guys,

just wanted to check in to see how this was progressing and if there was a eta on release?

[2018-02-10 15:22] jacoblee93 commented on #122
Hi Paul,

We've been quite busy, but I hope to have time to look at this within the next two weeks.

Jacob

[2018-02-10 16:18] jacoblee93 commented on #122
Hi @civocr,

I'm making this my next priority, I'm aiming to have it done by this Tuesday.

Jacob

[2018-02-14 18:11] jacoblee93 commented on #122
@civocr, this is now supported :) Use the same format you used above in your initial post.

[2018-02-14 21:04] keithwhor commented on #73
Fixed.

[2018-02-14 21:04] #73 closed

[2018-02-14 21:04] #122 closed

[2018-02-14 21:07] keithwhor commented on #131
Hey! So, you shouldn't respond with an error. Uncaught errors will propagate as API errors without needing to be returned. (i.e. you don't need the try / catch statement unless you want to catch an error and throw your own custom error).

I hope that helps! :)

[2018-02-14 21:07] #131 closed

[2018-02-14 21:08] keithwhor commented on #128
Hey @zooshme: can you explain *exactly* how to recreate your error? This shouldn't be happening but I'd like to see if we can replicate it ourselves.

Cheers,
- Keith

[2018-02-14 21:10] #109 closed

[2018-02-14 21:10] keithwhor commented on #109
this has been taken care of in newest versions of FaaSlang

[2018-02-14 21:38] keithwhor commented on #127
This is fixed as of:
https://github.com/keithwhor/cmnd/commit/0f5412ad68c0ebed1a1af5d063227d22bc59dc19

And:
https://github.com/stdlib/lib/commit/5ca36004e6cdf33a77fb6f49c023e0e6f85a8ad0

Hope that helps! :)

[2018-02-14 21:38] #127 closed

[2018-02-14 21:40] keithwhor commented on #127
Oops. I should mention;

The fix for this is to do:

[code]

The old way will still work, but if a parameter begins with a dash (or multiple dashes) this is the method you should use. Cheers!

[2018-02-15 01:15] civocr commented on #122
@jacoblee93 is there anything special I need to do before hand?

[11:33:28] $ lib up dev -d
2018/02/15 01:03:54.315 [civocr/bianca] Uploading... 65.79%
2018/02/15 01:03:54.315 [civocr/bianca] Uploading... 100.00%
2018/02/15 01:03:54.757 [civocr/bianca] Authenticated as "civocr" <email@address>!
2018/02/15 01:03:54.757 [civocr/bianca] Compiling package with environment "dev"...
2018/02/15 01:03:54.

[2018-02-15 01:34] jacoblee93 commented on #122
Hmm the format you have looks good. It's possible that one of your git repos has a dependency on a static binary? We don't support every package with those dependencies yet.

It could also be a size issue - how large is your node_modules file?

Would you be willing to message me your repo privately so I could try to repro your issue?

[2018-02-15 02:06] civocr commented on #122
I've added you to the repo I'm working with

[2018-02-15 02:07] jacoblee93 commented on #122
Thanks! I'll give it a look and get back to you by tomorrow.

[2018-02-15 07:31] jacoblee93 commented on #122
Ok, the issue was caused by one of your git dependencies' dependencies formatted as `git+http://<url>` rather than `https`. I've pushed a fix that parses `http` as a valid git url as well, let me know if it works for you!

[2018-02-15 20:31] jacoblee93 commented on #122
OK, updated things again! One of your dependencies required a package that it didn't have explicitly saved as a dependency, which was causing an issue. Things should work now though.

I had a timeout issue with one of the packages you're using, but that could be because I wasn't using it properly. Let me know if things are working as intended for you!

[2018-02-17 20:38] akul-goyal opened #133 "file access when trying to run server"
Files located outside the server folder cannot be accessed.
The following command:

lib . file:~{PATH TO FILE} -d

does not work.

Only works if the file is located inside of the same folder as the service.
So the command:

lib . file:./{FILENAME} -d

would work.

[2018-02-25 18:51] sh4hidkh4n opened #135 "no way to set content-type header when using async-await"
[code]

browser interpret as string thus i also get `\n` in the string where I need to return links in each line.
P.S I strongly want to use async-await. The code only shows simple use case.

[2018-02-25 19:03] keithwhor commented on #135
Hey @sh4hidkh4n! You want to return an HTML doc?

If this is being used as an API, I strongly suggest just returning an `{array}` type, but if you'd really like this to be plaintext readable you can the following:

[code]

The `object.http` type definition was added in FaaSlang https://github.com/faaslang/faaslang/ about a week ago and allows you to return HTTP responses while using async / await.

[2018-02-26 17:57] shahidcodes commented on #135
Thanks it worked.

[2018-02-26 17:57] #135 closed

[2018-03-02 02:10] scrabble350 opened #136 "Need some helping posting msg to a channel"
Hi, I am very new to this, so please bear with me. I'm trying to do something pretty simple. I've followed the getting started in 9 minutes tutorial and was able to get up and running rather quickly. I am able have to my bot receive messages via private messaging and it responds to the user who sent the message via private message no problem. Now I want the bot to post to a channel it is already a

[2018-03-02 10:39] #136 closed

[2018-03-05 03:36] TSedlar opened #137 "Unable to create a scheduled task"
I'm trying to create a task, as the documentation says:
`lib tasks:create disassemble-blog`

But end up simply getting an error while trying to do so:

[code]

I have also installed the module globally, like the documentation suggests:
`npm install lib.cli -g`

As the log suggests, I am using node version 8.0.0 which has been installed through [nvm](https://github.com/creationix/nvm)

I tried prio

[2018-03-05 03:55] jacoblee93 commented on #137
Hi @TSedlar,

You'll want to have the third argument on your command line there as your service identifier --
 something like `sedarity.test-service[@<service environment>]` rather than using the function itself. You can set the function within your service you would like to run via the prompts afterwards.

We should definitely have a less confusing error message though! Let me know if that works

[2018-03-05 04:09] TSedlar commented on #137
@jacoblee93 I seem to be getting the same error running

`lib tasks:create sedarity.test-service@dev`

It looks like from what I'm reading in the docs, the service has to be deployed to released.
I currently only have it deployed to @dev, so that may be my issue.

[2018-03-05 04:19] jacoblee93 commented on #137
It should work with a dev service actually, can you try it with the brackets as well? So like:

`lib tasks:create sedarity.test-service[@dev]`

If you're using z-shell, you'll need a backslash before each bracket.

[2018-03-05 04:34] TSedlar commented on #137
@jacoblee93 I tried just in case, but it didn't work. It only worked with a service deployed to released, but that's fine, thank you!

[2018-03-05 04:34] #137 closed

[2018-03-11 20:21] Loruz opened #138 "Error: There was an error processing your request, try logging in again."
Hello, nice tool. But I can't **lib up dev** or **lib release** simple hello world example.
I just did all steps from **Quickstart** documentation.

- `Preiksas:pdf-micro vytautaspreiksaitis$ lib .
- "hello world"
- Preiksas:pdf-micro vytautaspreiksaitis$ lib up dev
- [preiksas/pdf-micro] Uploading... 100.00%
- [preiksas/pdf-micro] Authenticated as "preiksas" <vpreiks@gmail.com>!
- [preiksas/pdf-m

[2018-03-11 20:38] jacoblee93 commented on #138
Hey @Loruz! Thanks for bringing this to my attention. I'm looking into this now and will have an update for you shortly.

[2018-03-11 20:55] jacoblee93 commented on #138
@Loruz, should be good now, let me know if this resurfaces

[2018-03-11 21:05] Loruz commented on #138
Yep, it works now, thanks for lightning fast response!

[2018-03-14 14:47] Prithivraj200 opened #139 "Issue with webpass-service database"
HI,

   I am trying to connect database by using webpass-services.database API. But when I try to connect by clicking on connect method given in API, I am getting below error.
   `{
  "error": {
    "type": "RuntimeError",
    "message": "Critical Error: TypeError: Converting circular structure to JSON\n    at JSON.stringify ()\n    at Domain.criticalExecution.run ([eval]:86:45)\n    at Domain.run

[2018-03-14 15:17] jacoblee93 commented on #139
Hi @Prithivraj200,

Happy to help! Can you show me what arguments you are passing into your storage function? Also, how are you connecting to the database? Are you using an npm package?

From the error, it seems that you have a circular reference in whatever JSON you are passing in, see:
https://stackoverflow.com/questions/4816099/chrome-sendrequest-error-typeerror-converting-circular-structure-to

[2018-03-14 15:38] Prithivraj200 commented on #139
Hey Jacob,

     PFA
![stdlib](https://user-images.githubusercontent.com/22617738/37412895-d9be93ec-27cb-11e8-9de1-949b40b93ef2.png)

[2018-03-14 17:39] jacoblee93 commented on #139
Can you show me exactly how you're connecting to the database in code?

If it's more comfortable for you, you can join our Slack channel using the invite link on our site (under the community tab while you're logged in) and direct message me there :) Or shoot me an email: (jacob at stdlib.com)

[2018-03-15 07:42] #139 closed

[2018-03-20 06:36] pradeepmandalapu opened #140 "server unavailable"
![stdlib](https://user-images.githubusercontent.com/9839380/37639550-e43be11a-2c37-11e8-860a-8ab74681db07.PNG)
HI,
I am trying to do as per documentation. If i type any lib command it gives me error saying that server unavailable.

[2018-03-20 06:40] jacoblee93 commented on #140
Hey @pradeepmandalapu!

Can I ask for your geolocation and whether you're behind a proxy? We've encountered issues with setups like that before, and it would help us diagnose your problem.

Jacob

[2018-03-20 06:43] pradeepmandalapu commented on #140
Yes i am in behind proxy.

[2018-03-20 06:47] jacoblee93 commented on #140
Ah, it's probable that the proxy is blocking calls to StdLib. Is it possible for you to temporarily disable the proxy?

[2018-03-20 06:57] pradeepmandalapu commented on #140
It is not possible. Is there any alternate way to do? Thanks for your quick reply.

[2018-03-20 07:07] jacoblee93 commented on #140
Is there any way you can add certain hostnames to an whitelist or something similar? And no problem, I'm happy to help!

[2018-03-20 14:02] justinzw commented on #140
@pradeepmandalapu you might be able to use an online IDE like https://c9.io.

It works in your browser and there's a terminal and code editor where you can run the commands.

[2018-03-22 17:13] jacoblee93 commented on #133
This seems to be isolated to using the `~` character -- relative paths and absolute paths starting with a slash work. The native fs method in Node doesn't support it by default but bash does.

[2018-03-23 12:09] #140 closed

[2018-03-27 06:46] ErikAndreas commented on #103
Hi
any update on this?

Is the "official internal", or any other, roadmap publicly available somewhere (url)?

[2018-03-27 15:29] jacoblee93 commented on #103
Hey Andreas,

Expect it done by early next week, if not sooner! Apologies for the delay.

We don't have any publicly available roadmap right now, but we could
discuss making one available in the future.

Best,

Jacob

On Mon, Mar 26, 2018, 23:46 Andreas Nyhrén <notifications@github.com> wrote:

[2018-03-29 01:00] Chinaski1979 opened #142 "Function works in localhost. Not in dev or release versions."
Whenever I test my function with lib http it works perfectly. However when I run lib up dev or lib release those versions won't work.
It's a function that connects to a mongoDB and retrieves of all the documents in a collection.

I'm not sure if the error message will help provide more details as to why it works in localhost and not otherwise but here it is.

{
    "error": {
        "type": "Runt

[2018-03-29 01:14] jacoblee93 commented on #142
Hey @Chinaski1979 !

It looks like it's an error that mongo is throwing - the type field of your error is RuntimeError and at the bottom of your stack Trace I can see `node_modules/mongodb`. From the error message, it seems like the ObjectId you're passing to MongoDB is the wrong type. I can think of a few things to check off the top of my head:

Are you using the same environment variables locall

[2018-03-29 03:28] Chinaski1979 commented on #142
Hey @jacoblee93 .

I'm using the same env variables across all environments.
I'm passing the same parameter.

I'm testing with postman.
So for example, the version that works perfectly (localhost):

GET: localhost:8170/wepass-services/database/read/?collection=properties

And this is how would call dev for instance:

GET: https://wepass-services.lib.id/database@dev/read/?collection=properties

I r

[2018-03-29 03:39] jacoblee93 commented on #142
Can you try testing with cURL instead or using the `lib` package as something like:

Node:
[code]

CLI:
[code]

[2018-03-29 04:51] Chinaski1979 commented on #142
@jacoblee93 I tried that with no luck mate.

[2018-03-29 04:57] #138 closed

[2018-03-29 04:59] keithwhor commented on #128
Closing this - let me know if you encounter this issue again and I'll re-open.

[2018-03-29 04:59] #128 closed

[2018-03-29 05:02] keithwhor commented on #142
@jacoblee93: The issue is somewhere in the way we handle `Buffer` conversion when connecting functions to each other. It has nothing to do with the way the functions are called or where they're called from.

@Chinaski1979: Can you show me the code that's throwing this error? You can join our Slack channel and DM me directly (go to https://stdlib.com and click on "Slack" from the community dropdown

[2018-03-31 18:58] j4orz commented on #142
I'm experiencing this issue as well @Chinaski1979.

Here's a temporary workaround that's quite hacky:

`return callback(null, JSON.parse(JSON.stringify(data)));`

where data is data queried from mongoose.

[2018-03-31 21:04] omarchehab98 opened #143 "Logging stack traces when environment is local"
When developing locally stack traces are crucial.

# Scenario

[code]

[code]

# Expected Outcome

[code]
# Actual Outcome

[code]

[2018-03-31 21:06] omarchehab98 opened #144 "Debugging with inspect mode"
If `node` is ran with the `--inspect` switch, then you can connect a debugger and step through your programs.

[Read more about inspector](https://nodejs.org/en/docs/inspector)

[2018-03-31 21:07] omarchehab98 commented on #144
How about adding an `--inspect` switch to `lib http`?

[2018-03-31 21:47] omarchehab98 opened #145 "init malfunctioning after one wrong password attempt"
`lib init` stops working after one wrong password attempt.

# Expected Outcome

[code]

# Actual Outcome

[code]

[code]

[2018-04-01 02:33] omarchehab98 commented on #56
For the time being, you can use `nodemon`

[code]

[2018-04-01 05:05] omarchehab98 opened #146 "Decrease timeout field minimum"
`Bad Request: The "stdlib" timeout field must be between 5,000 and 300,000`

If I know my function's green path terminates fast, it's reasonable to have a short timeout. In cases of
error, I wouldn't want my function to hang, especially given the fact that every compute second is billed. I experienced function hanging with mongo connection timeout (default 30,000ms).

I think the timeout field sho

[2018-04-02 20:17] macdja38 opened #147 "document lower casing of headers field"
It would be nice to see the lower casing of header keys be documented here:

https://docs.stdlib.com/main/#/creating-services/the-context-object

[2018-04-02 20:24] macdja38 opened #148 "Running `lib logs` without any arguments throws an error"
[code]

[2018-04-03 21:29] jacoblee93 commented on #103
Cron expressions are now supported in scheduled tasks. See http://docs.stdlib.com/main/#/scheduled-tasks for information on syntax.

For now, you'll have to create these via the Scheduled Tasks section of your StdLib dashboard (https://dashboard.stdlib.com/dashboard). CLI support coming soon.

[2018-04-10 14:43] n8behavior opened #150 "Change the name"
I get it, you think it's cute but <stdlib> is already a real thing with many decades of precedence.  It has things like `size_t` and is ACTUALLY and ALREADY the basis for computing today...even "microservices"...yet another buzz word for just-doing-good-software-engineering-for-the-problem-under-discussion.  This project's name reminds be of the choosing of "Javascript" which had (and thankfully s

[2018-04-10 14:49] peconi commented on #150
+1

[2018-04-10 15:21] keithwhor commented on #150
You're welcome to refer to us as "stdlib.com"! Let's keep it open for a while, I'd put it at 1 in every 100 developers (-ish) we encounter questions the name, we occasionally get a few people a little more passionate (like yourself)! I made a Hacker News post about this recently, which I'm happy to copy and paste here:

From the inception of the product we knew we were building a library - well, a

[2018-04-10 15:37] keithwhor commented on #150
Also, quick addition:

I think what may be helpful to realize is a significant portion of our developer community are web-native and / or come from less technical backgrounds. We often get questions about the name from these developers and customers who simply *don't understand what stdlib means*. This actually creates a really neat opportunity to [teach people something they don't know](https://x

[2018-04-10 15:47] keithwhor commented on #147
We can certainly do this. 👍

cc @jacoblee93 who handles most of our website docs

[2018-04-11 20:05] aaronshaf opened #151 "Best practices with env.json"
I use [vaulted](https://github.com/miquella/vaulted) to enter an environment-specific secure shell, loaded with different environment variables.

I'd rather not put my release/prod env variables in env.json. Any tips?

[2018-04-19 01:25] jamsinclair commented on #150
Are the library/service maintainers aware there is a JavaScript library that predates your `stdlib` over at https://github.com/stdlib-js? (Which is an actual Standard Library written in JavaScript)

I was doing a google search trying to find `stdlib-js` and ended up here all confused 😕. Another point of confusion for your name.

---

So you're spending extra time to explain, write posts and justif

[2018-04-19 02:00] keithwhor commented on #150
Hey @jamsinclair -- you'll have to bring up your issues with the `stdlib-js` maintainers if you think there's a conflict. If your argument is simply "we're not a standard library for JavaScript" -- you're right, and we have no intention of being such. We provide an API development platform and library, hence, "Standard Library." The name is both descriptive and useful for us and both new developer

[2018-04-19 04:24] keithwhor commented on #151
Hey @aaronshaf -- I haven't used `vaulted` myself, but we'll definitely consider support. Right now `env.json` is the preferred way of setting environment key/value pairs, if you can get `vaulted` to support writing to that file in a directory it might be the best way to do so for now. We'll likely make updates to this flow in the coming months: I can keep you posted.

[2018-04-19 04:26] keithwhor commented on #148
I've assigned myself to this for now; it's not a breaking bug but it is undesirable, so in my next pass of the CLI updates (there are a few outstanding items here) I'll make sure I tackle it. :)

[2018-04-19 04:26] keithwhor commented on #147
@jacoblee93 is this documented yet?

[2018-04-19 04:28] keithwhor commented on #146
I'm not sure this is a "bug" or something we'd like to fix. It's pretty common for our developers to rely on chained HTTP calls that can eat up 5,000ms relatively quickly. Having 30,000ms as the default for newly created projects makes sure nobody is going to run into a timeout issue for run-of-the-mill use-cases, but is still configurable.

[2018-04-19 04:28] #146 closed

[2018-04-19 04:29] keithwhor commented on #145
I'll look into this early next week: there are a few outstanding items here that we need to ship fixes for on the CLI end. :)

[2018-04-19 04:30] keithwhor commented on #144
Hey @omarchehab98 -- I'm going to tag this as an enhancement. I can look into this, but it might be a little out in terms of implementation.

[2018-04-19 04:31] keithwhor commented on #143
:+1: I think this is reasonable. Let me get back to you on it.

[2018-04-19 04:33] keithwhor commented on #142
This is a super not-fun error that required some digging on our part; we're happy there's a temporary fix but will look at something more permanent shortly.

[2018-04-19 04:33] keithwhor commented on #133
@jacoblee93 Can you push a new version of this PR with a Windows-specific fix as well?

[2018-04-19 04:34] keithwhor commented on #113
Hey @hanabi1224 -- I'm going to close this right now, but if you can give an example of your use case happy to re-open and reconsider.

[2018-04-19 04:34] #113 closed

[2018-04-19 04:35] keithwhor commented on #103
Closing! :)

[2018-04-19 04:35] #103 closed

[2018-04-19 04:35] keithwhor commented on #104
Closing this -- if you can give more feedback as to proxy / etc., we can look into again. :)

[2018-04-19 04:35] #104 closed

[2018-04-19 04:40] keithwhor opened #152 "Update README to include more discussion around APIs"
As StdLib is mostly an API-centric platform and library, it makes more sense to stop referring to "Microservices" exclusively, and more on API + docs support, specifically. Will update on next CLI overhaul.

[2018-04-19 16:28] jacoblee93 commented on #147
Will do this now!

[2018-04-19 16:34] jacoblee93 commented on #147
Ok, I've added an example to https://docs.stdlib.com/main/#/creating-services/the-context-object. Let us know if there's anything else we can make clearer!

[2018-04-19 21:35] macdja38 commented on #147
Awesome, thank you very much!

[2018-04-19 21:35] #147 closed

[2018-04-27 17:54] lineus opened #154 "close account path?"
If there is a way to close my account, it's not obvious. I searched the docs, settings, etc. I couldn't find anything.

What's the procedure for closing an account?

[2018-04-27 18:01] jacoblee93 commented on #154
Hey @lineus, send an email with your details to jacob (at) stdlib.com and I can help you.

[2018-04-27 18:16] ghost commented on #154
I just made my account today, still checking it out, thanks @jacoblee93!

[2018-04-27 18:16] #154 closed

[2018-04-30 13:40] alber70g commented on #104
I'm using CNTLM as an intermediate proxy.

[2018-05-23 07:13] mgollmer commented on #140
Hey there,

same issue here. Is there anykind of solution?

[2018-06-04 04:33] wanglong167 opened #155 "Network deployment"
Network deployment

[2018-06-08 05:17] husainkhambaty commented on #41
Hi, did this get resolved? I have a similar issue and need to get around the corporate proxy. However I do not know what proxy we are using. Is there any option that I can provide to get around this?

[2018-06-09 03:35] astralcai opened #156 "npm complain about vulnerabilities with template vue"
When I try to create a web app using the Vue template by running:
`lib create my-service -t vue`
The creation succeeded, however npm reports:
`found 5 vulnerabilities (1 low, 4 moderate)`

When I run `npm audit` in the project directory, it shows 5 vulnerabilities of "prototype pollution" with the hoek package, dependency of node-sass #

[2018-06-09 18:28] michaelcummings commented on #46
I have the same issue. I do use Exiftool as stated above from @davidklassen

I removed EXIFtool for now and installation works fine, but this is certainly a clash.

[2018-06-29 12:58] xabree opened #158 "how to upload file or image?"
how to store upload file / image, any idea  ?
Im trying to upload image using fetch post like this

[code]
we get the response from server request like this :
[code]

[2018-06-29 13:24] jacoblee93 commented on #158
Hey @xabree,

You have the buffer containing your file data right in your params object -- you can access it by declaring a param named "file" in your function definition like this:

[code]

We don't currently have a built in data layer, but the above example will store the file in S3 -- you can also use any other storage service you'd prefer. You should store your AWS keys in your StdLib service'

[2018-06-30 08:58] xabree commented on #158
hey @jacoblee93 thank for response, I Already success uploaded buffer file to amazon s3, but image is always corrupt, can't display in browser.

[code]

[2018-06-30 18:08] paqio opened #159 "Local file system access"
Is there a way to store any persistent data, without using third party object/block storage?

[2018-07-01 01:59] jacoblee93 commented on #159
Hey @paqio,

There's nothing currently built in -- you can write to the `/tmp` directory within your function, but that state is not guaranteed to be preserved on subsequent function executions. Stay tuned though!

[2018-07-01 07:37] #159 closed

[2018-08-10 14:29] nicolocarpignoli opened #160 "'Bad Request: could not update cache'"
Hi
I used your project to set up a simple slack bot. Today I occured in an error: anytime I do `lib up dev` I got this:

[code]

Already tried to logout and login with no luck.

thanks in advance

[2018-08-10 15:00] jacoblee93 commented on #160
Hi @nicolocarpignoli ,

Thanks for bringing this to my attention. It should work now, please let me know if you encounter an error like this again.

[2018-08-10 15:01] nicolocarpignoli commented on #160
@jacoblee93 thanks! it's working like charm :) thanks for the fast support

[2018-08-10 15:01] #160 closed

[2018-08-13 20:49] matt6500 opened #161 "Using stdlib behind corporate proxy"
Hi, I'm trying to install and use stdlib on a computer behind our corporate proxy and I was able to get it installed by changing my npm proxy settings, but when trying to log in with my stdlib credentials, I get an error that says `Error: Server Unavailable`, and was wondering if there was some way to configure lib proxy settings like I did with npm.

[2018-08-17 17:03] jacoblee93 commented on #161
Hey @matt6500 ! We now have a way to create, manage, and deploy Standard Library APIs via our online IDE [Code.xyz](https://code.xyz) that might work better for you behind a proxy. Happy to try and help resolve the CLI issue if that doesn't meet you needs -- let me know.

[2018-08-26 21:35] vishvajit79 opened #162 "pulling(lib get) my service causing error"
I am trying to pull my source code, but it gives me error.

Retrieving registry.stdlib.com/vishvajit79/slack-app/package.tgz...

{ Error: ENOENT: no such file or directory, open 'D:\tmp\vishvajit79.slack-app.tgz'
    at Object.fs.openSync (fs.js:646:18)
    at Object.fs.writeFileSync (fs.js:1299:33)
    at resource.request.index (C:\Users\vishv\AppData\Roaming\npm\node_modules\lib.cli\cli\commands

[2018-08-28 16:33] MonsterDeveloper opened #164 "Error running lib . after lib get"
I started my project on code.xyz, and then I wanted to move to local development, so I installed lib.cli, did `lib init` and then `lib get [xxx]`. But when I go to project directory and run `lib .`, there is an error. Here is a stack trace.
[code]

[2018-08-29 00:58] jacoblee93 commented on #164
Hey @MonsterDeveloper! Try adding `"build": "faaslang"` to the `stdilib` field of your service's `package.json` file. That should fix it for now, I've just created a PR for a more robust fix.

[2018-08-29 01:15] jacoblee93 commented on #162
@vishvajit79 , this should be good now! Upgrade your CLI version (`npm i -g lib.cli`) and give it another shot.

[2018-08-29 01:16] #164 closed

[2018-08-29 11:04] MonsterDeveloper commented on #164
Thanks @jacoblee93! It works now. Also I think you need to specify somewhere in stdlib docs that to call certain function on localhost you need to do `lib .[function-name]`, because I wasn't able to find information about that in the docs.

[2018-08-29 16:06] jacoblee93 commented on #164
Ah good. I can update the docs with that quickly as well, thanks!

[2018-08-29 23:00] vishvajit79 commented on #162
I updated the CLI version but still gets an error.

$ lib get vishvajit79/getsense

Retrieving registry.stdlib.com/vishvajit79/getsense/package.tgz...

Error: undefined

[2018-08-29 23:10] jacoblee93 commented on #162
Can you create a fresh service from the CLI using `lib create`, then run `lib up dev` and see if that works?

[2018-09-01 07:23] mannyyang commented on #162
I'm having the same issue and when I tried your recommended steps:
1)  `lib create servicetest`
2) `lib up dev`

It gives me:
Error: Invalid package.json

The newly created package.json:
[code]

[2018-09-01 10:24] MonsterDeveloper opened #165 "Specify request method in CLI"
Hello. I noticed that when I call `lib .myFunction` CLI sends a `POST` request. Is there any way to specify a method (e.g. `lib .myFunction --method GET`)?

[2018-09-01 19:13] jacoblee93 commented on #162
Hey @mannyyang! Are you in the service directory when you run `lib up dev`?

The steps should actually be:

1. `lib create servicetest`
2. `cd mannyyang/servicetest`
3. `lib up dev`

[2018-09-03 00:59] vishvajit79 commented on #162
Hi Jacob,

I was successfully able to create service and push the code to the server
but when I try to lib get, it always shows Error: undefined. Please let me
know if there is a way around also I am using windows machine.
Best,
Vishvajit Kher

On Sat, Sep 1, 2018 at 3:13 PM Jacob Lee <notifications@github.com> wrote:

[2018-09-03 01:34] jacoblee93 commented on #165
Hey @MonsterDeveloper, there isn't -- if you really want to, you can use `lib http` to run it on localhost and cURL, but we recommend not relying on the HTTP request method, and instead thinking of your functions as being called whenever someone hits it with any type of request.

[2018-09-03 01:34] #165 closed

[2018-09-03 01:36] jacoblee93 commented on #162
Hey @vishvajit79, I'm going to have access to a Windows machine on Tuesday. I'll try to reproduce your issue and update you then.

[2018-09-03 05:17] MonsterDeveloper commented on #165
Well, I am developing a REST API and if you know, it’s based on request methods. So I want 1 endpoint (/events) and if I send GET request, API returns events, when I send POST, I create a new event. I think it is much easier than /getEvents and /createEvent and semantically right.

[2018-09-04 18:27] jacoblee93 commented on #162
Hey @vishvajit79, I've found the issue. You can expect a fix by the end of the day.

[2018-09-04 19:20] vishvajit79 commented on #162
That's great!

Best,
Vishvajit Kher
+1-647-504-4743

On Tue, Sep 4, 2018, 14:27 Jacob Lee, <notifications@github.com> wrote:

[2018-09-04 22:47] #162 closed

[2018-09-04 22:56] jacoblee93 commented on #162
Update and give it a try @vishvajit79!

[2018-09-04 23:13] vishvajit79 commented on #162
Hi Jacob,

It worked! Thanks
Best,
Vishvajit Kher

On Tue, Sep 4, 2018 at 6:56 PM Jacob Lee <notifications@github.com> wrote:

[2018-09-04 23:14] jacoblee93 commented on #162
Awesome! Let me know if we can help with anything else :)

[2018-09-07 19:50] panchalkalpesh commented on #161
@jacoblee93 Thanks. That's amazing!
Trying to follow along with this [article](https://medium.com/stdlibhq/build-a-serverless-sms-hub-in-under-7-minutes-with-node-js-stdlib-and-messagebird-7d2d41ecaea6)

Having similar trouble logging in:
![error](https://user-images.githubusercontent.com/1808686/45240152-98f7c700-b2b5-11e8-80f0-cd8c31cbd64d.PNG)

[2018-09-07 20:02] jacoblee93 commented on #161
Thanks @panchalkalpesh! It'd be tough to debug without being next to you and having access to your proxy. If it helps, all outbound API requests from the CLI go to api.polybit.com, you could try whitelisting that?

[2018-10-09 07:20] maxfi opened #171 "Publish key in package.json should be set to false by default"
lib version: 4.3.6

The default created `package.json` includes:
[code]

In https://github.com/stdlib/lib#pushing-to-the-cloud it states:

[2018-10-18 10:56] maxfi commented on #171
Just noticed this in the [docs](https://docs.stdlib.com/main/#/quickstart/command-line-interface):

So there's an inconsistency between the README and the docs. Which one is correct? Thanks.

[2018-10-18 17:42] jacoblee93 commented on #171
Hey @maxfi, we've deprecated and are in the process of fully removing the `publish` flag, its functionality has been superseded by [API permissions](https://docs.stdlib.com/main/#/access-control/api-permissions). The docs are correct here.

Happy to answer any other questions!

[2018-10-19 17:03] sharafeyen commented on #171
OK so what the fk do I do...

On Thu, Oct 18, 2018, 1:42 PM Jacob Lee <notifications@github.com> wrote:

[2018-11-02 11:22] LemonAndroid opened #175 "encoding issues on stdlib.com using word2vec-pure-js"
only reproducible on stdlib.com, thus a problem on your side.

[2018-11-03 01:19] keithwhor commented on #175
Hey @LemonAndroid, we can't fix this without steps to reproduce the bug. Please include them and we will look into it 🙂.

[2018-11-03 01:22] keithwhor commented on #171
@sharafeyen You can selectively choose who has access to your API using [API Permissions](https://docs.stdlib.com/main/#/access-control/api-permissions). The flag is deprecated; you can leave it out completely.

@jacoblee93 can you submit a PR to fix the README here?

[2018-11-03 01:22] keithwhor commented on #161
Closing due to lack of feedback / activity.

[2018-11-03 01:24] keithwhor commented on #156
We have no intention of upgrading the Vue template at present time, so I'm closing this for now. You can try upgrading the `node-sass` package if you're using it. :)

[2018-11-03 01:25] keithwhor commented on #155
I'm not sure what you're asking? We don't offer an on-prem solution at present time. If you can give me more details I can re-open and we can address this :).

[2018-11-03 01:27] keithwhor commented on #150
Closing issue for now; useful discussion hasn't been had in months. If it helps anybody, we're going by "Standard Library" now in most of our website documentation. 🙂

[2018-11-03 01:28] #144 closed

[2018-11-03 05:24] ghost commented on #175
and i can't keep up with this service.

Sent from Mailspring (https://link.getmailspring.com/link/1541222623.local-fd400b74-8cd4-v1.5.1-da141eaf@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&recipient=cmVwbHkrMDAzMGY4MjI4MDZmOGQxMTRlZWU5NWRmOWQ2ZjVmYmM0ZDY3YTZmMzY5ZDg0NDM1OTJjZjAwMDAwMDAxMTdmNGI5YWU5MmExNjljZTE2NzUxMjVlQHJlcGx5LmdpdGh1Yi5jb20%3D), the best free email app for work

[2018-11-03 06:35] keithwhor commented on #175
I'm sorry? I don't understand.

[2018-11-03 06:37] ghost commented on #175
steps: trz using the word2vec-pure-js npm module from within code.stdlib.com.

Sent from Mailspring (https://link.getmailspring.com/link/1541226971.local-e70ee4a0-2e5b-v1.5.1-da141eaf@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&recipient=cmVwbHkrMDAzMGY4MjIwODFiMDdmM2JlZTZlNTdlMWI2ZjhjYmJhYjEzMzk0ZWU5YjczNGFmOTJjZjAwMDAwMDAxMTdmNTAzY2M5MmExNjljZTE2NzUxMjVlQHJlcGx5LmdpdGh1Yi5jb2

[2018-11-05 12:48] ghost commented on #175
y u click the mute link @keith :D

[2018-11-05 16:31] keithwhor commented on #175
I'm sorry, there's not enough information here for our team to reliably reproduce a bug. If you can give a description of the bug and the exact steps (i.e. a minimal example) to recreate it ourselves we can certainly help. This includes a list of steps for us to follow and / or example code that will generate the bug you're encountering, including expected output and actual (buggy) output.

@notor

[2018-11-05 16:34] ghost commented on #175
open code.xyz

add word2vec-pure-js npm package

add file 'test-text8-vector.bin' from lemonandroid/qanda-api repository here on github

load this file via word2vec-pure-js#load(filePath)

try to get similar words via word2vec-pure-js#getSimilarWords('test')

observe that the words returned by word2vec-pure-js#getSimilarWords('test') are wrongly de- or encoded

verify NOT on stdlib, that word2vec-

[2018-11-05 17:16] jacoblee93 commented on #175
It seems to work fine for me: http://jacoblee.lib.id/word2vec@dev/?word=test

Is there something else you're expecting here?

[2018-11-05 17:17] ghost commented on #175
No, but why is it not working for my project on stdlib, koma/qanda-api?

Sent from Mailspring (https://getmailspring.com/), the best free email app for work
On Nov 5 2018, at 6:16 pm, Jacob Lee <notifications@github.com> wrote:

[2018-11-05 17:19] jacoblee93 commented on #175
Oh, I just reread your comment and you tried uploading your code from code.stdlib.com. Yes, I'm seeing `Could not find vector for word test`, is this what you're seeing?

If you just need to get unblocked for now, I tried successfully from the CLI first.

[2018-11-05 18:16] ghost commented on #175
The file was working before on code.stdlib.com.

The error message given by you is thrown by w2v-pure-js in case the provided model (test-text8-vector.bin in this case) doesn't have data for the provided word.

Sent from Mailspring (https://getmailspring.com/), the best free email app for work
On Nov 5 2018, at 6:19 pm, Jacob Lee <notifications@github.com> wrote:

[2018-11-05 18:46] jacoblee93 commented on #175
Odd. Here's the working code I deployed with the CLI:

[code]
The output is: `["testing","tests","stoppage","tested","upshot","termination","piggyback","primality","flight","standby"]` (https://jacoblee.lib.id/word2vec@dev/)

And I'm using `"word2vec-pure-js": "0.0.2"`

Is this the way you expect it to be used?

[2018-11-05 19:58] jacoblee93 commented on #175
I just tried the above successfully on code.stdlib.com as well, I think I may have had a typo in my initial attempt, especially if the error I was getting was different from what you're seeing.

[2018-11-05 20:02] ghost commented on #175
I will try deploying from WLinux/WSL.

Sent from Mailspring (https://getmailspring.com/), the best free email app for work
On Nov 5 2018, at 8:58 pm, Jacob Lee <notifications@github.com> wrote:

[2018-11-05 20:11] ghost commented on #175
The result observable here: https://qanda-app.com/.

There is still encoding issues atm.

[2018-11-05 20:20] ghost commented on #175
nvm i downloaded the file again and replaced the previous one.

It must have been compromised.

Sent from Mailspring (https://getmailspring.com/), the best free email app for work
On Nov 5 2018, at 9:11 pm, Manuel Korfmann <manu@korfmann.info> wrote:

[2018-11-05 20:20] ghost commented on #175
gg

Sent from Mailspring (https://getmailspring.com/), the best free email app for work
On Nov 5 2018, at 9:20 pm, Manuel Korfmann <manu@korfmann.info> wrote:

[2018-11-05 23:56] #175 closed

[2018-11-06 00:03] keithwhor commented on #148
Should be fixed as of https://github.com/stdlib/lib/commit/f6bd0c47ddd6406acf66d18a16568043b097ebe7, sorry for the delay! Assumed I'd get to a CLI overhaul long before I actually did. :)

[2018-11-06 00:03] #148 closed

[2018-11-06 09:58] Loruz opened #176 "Can't publish my lib"
My __main__.js looks like this.
[code]
I did everything by the book "lib init" "lib create <project>" and when i start "lib up dev"
I get:
2018/11/06 09:54:08.499 [preiksas/puppet-pdf] Uploading... 100.00%
2018/11/06 09:54:08.499 [preiksas/puppet-pdf] Extracting package contents (size 4754)...
2018/11/06 09:54:08.502 [preiksas/puppet-pdf] Registering compiled package...
2018/11/06 09:54:08.502 [pr

[2018-11-06 21:33] keithwhor commented on #176
Hey @loruz, we actually don't support `puppeteer` as a package right now -- there are a few issues with installing packages that require large binary installations. We'll work on making the error message clearer.

If you don't mind me asking, what's your goal with using puppeteer? (i.e., what are you trying to take screenshots of?) We may have another solution for you available shortly.

[2018-11-07 09:08] Loruz commented on #176
Hey! It's for Invoice pdf generating. Other solutions for pdf that I found were mixing up some styling, and puppeteer seems to work fine with that. I already used stdlib for other pdf generating tool, but I guess it was not as large in binary lol.

[2018-11-09 03:32] macdja38 commented on #148
Thanks Keith, have a nice day!

[2018-11-20 19:20] ocxo commented on #107
I think I had the same error. Ran into this and was confused because I didn't have any code executing, between the annotations and the export. It was just commented out:

[code]

[2019-01-29 20:17] AliHaghani opened #179 "HTTP POST request on stdlib function returns ParameterError"
I'm passing parameters in a POST body according to this [FaaSlang example](https://github.com/faaslang/faaslang#what-is-faaslang).

[code]

However, I get the following:
[code]

This function endpoint works fine with GET parameters, however, we're having issues sending some arrays as a GET param using Swift.

[2019-01-29 22:28] notoriaga commented on #179
Hey @AliHaghani, would you mind providing a small code sample?

[2019-01-29 22:54] alihaghani commented on #179
[This](https://github.com/AliHaghani/Abode/blob/master/functions/initializeHome.js) is the function/endpoint.

[2019-01-29 23:19] notoriaga commented on #179
Oh sorry, I meant the calling code. What you have looks good for the endpoint. Is it possible you're not setting the Content-Type of your request to 'application/json'?

[2019-01-29 23:26] alihaghani commented on #179
Got it. I'm doing a POST from Postman with the body as follows:
[code]

I also have a header key `Content-Type` with the value `application/json` as well as a `token` in the header. Is my request body malformed?

[2019-01-29 23:53] notoriaga commented on #179
I think I got an example working in postman. Go to File -> Import -> Paste Raw Text and enter the following -

[code]

Let me know if that works!

[2019-01-30 02:04] alihaghani commented on #179
~That's odd, the exact same code deployed locally with `lib http` gives the `ParameterError` whereas when deployed to dev with `lib up dev`, it seems to work fine.~

Nevermind, I was missing the trailing `/` in the Postman local URL... Thanks.

[2019-01-30 02:14] #179 closed

[2019-02-04 19:13] charmingtoad opened #180 "lib up dev throws "access token is invalid" error"
I used to be able to publish my service with `lib up dev`, but lately instead I get this error:

Bad Request: Your access token is invalid.
Error: There was an error processing your request, try logging in again.

I have double-checked that the STDLIB_TOKEN in my env.json file matches my library token on stdlib.com, and I'm not sure what else it could be referring to.

[2019-02-04 23:14] keithwhor commented on #180
Hey Linda! Try using “lib login” to reauthenticate, it should solve your problem.

Let me know if that works :)

[2019-02-04 23:19] charmingtoad commented on #180
Oh, that did it! Thank you very much!

[2019-02-04 23:19] #180 closed

[2019-02-26 01:25] agarwalankitn opened #181 "Calling slack Webhooks on external event"
I am trying to build a simple bot which post a message into a slack channel based on some external event. For example, I would like to post that "Task X is complete". I am trying to use webhooks for this purpose but I am not sure how to trigger the webhook from my stdlib service.
I am able to do it based on slack command and get a response but I would like the service to check the status at a fixe

[2019-02-26 02:21] jacoblee93 commented on #181
Hi @agarwalankitn,

When you say you are trying to use webhooks, do you mean Slack's incoming webhook system?

If you're looking to trigger your Standard Library API at a fixed interval, you can check out our scheduled tasks system from code.stdlib.com under the *Tasks* pane in the top left.

Also, I'd recommend joining our Slack help channel for more in-depth support -- you can get an invite on s

[2019-02-26 05:02] agarwalankitn commented on #181
Thanks @jacoblee93 for such a timely response. Yes, I meant Slack's incoming webhook. I will try out Tasks, I think that will solve the problem. Thanks!

[2019-06-04 15:12] RoestVrijStaal commented on #150
And from now on each programmer internship student or just hired person wastes one or more days of his first week because his coach, boss or colleague responded with "Look at the standard library" (Often omitting the part "of programming language XYZ") at a trivial question of help 🤦🏻‍🤦🏻‍♂️🤦🏻‍♂️

Congratulations, Well done 👍🏻👍🏻👍🏻

How about to call it StaLi?

[2019-07-26 16:27] nagyv opened #191 "Permission to send an SMS has not been enabled for the region indicated by the 'To' number"
Hi,

I would like to send a message to my Hungarian number, but I'm not allowed to do it.

This is Twilio setting.

[2019-08-09 14:18] shovelend commented on #191
Hey,

We're facing the same problem in our app when using the utils/sms service. Is it possible to change the Twilio setting on our end or is it done by the Utils team?

Thanks,
Attila

[2019-08-09 15:16] nagyv commented on #191
Just as an idea, if SMS is not crucial for you: I ended up writing a Telegram bot to send out the notifications.

[2019-08-09 17:25] keithwhor commented on #191
Hey! Apologies for the delay in following up here -- we're working on a Twilio Connector API that should help solve these problems for you. @notoriaga is planning on a release this month.

In the meantime, would you mind joining our Slack community? You can request an invitation by visiting https://docs.stdlib.com/ and clicking "Request Slack Community Invitation" on the right. We may be able to g

[2019-08-09 17:25] #181 closed

[2019-08-09 17:26] #176 closed

[2019-08-09 17:26] #171 closed

[2019-08-09 17:26] #145 closed

[2019-08-09 17:27] #142 closed

[2019-08-09 17:27] #133 closed

[2019-09-03 18:03] shovelend commented on #191
@keithwhor Hello! Thanks for getting back quickly. Is there any news on the Twilio Connector API? We're receiving reports that some texts are not being sent.

I also requested to join the community but did not see any news there. Is there a way to use the API ahead of release?
Thank you in advance!

[2019-09-03 23:20] keithwhor commented on #191
Hey @shovelend! We've added first-class Twilio support.

https://stdlib.com/blog/announcing-twilio-events-and-connector-api

You'll have to be a paying Twilio user to make use of it effectively, but other than that it should be all good! Please let us know if you have any questions. You can drop by our community Slack by visiting https://docs.stdlib.com and clicking "Request Invitation" on the rig

[2019-09-03 23:59] jacoblee93 commented on #191
Hey @shovelend, we actually need to add a way to specify a country for purchased phone numbers -- we'll get to this shortly.

[2019-09-04 22:10] notoriaga commented on #191
Hey @nagyv if you go on [Build on Standard Library](build.stdlib.com) you can link your own Twilio account. As of right now you can still only purchase US phone numbers. But you can then go to your [Twilio console](https://www.twilio.com/console/sms/settings/geo-permissions) and enable SMS to Hungary.

We are still looking at adding support for buying numbers for other countries but this should wo

[2019-09-28 15:31] monis0395 opened #195 "Creating service from existing dev release of own account"
Hi,

I am trying to get my API Library which are currently in dev env

How can I get that?

I tried typing

[code]

Is it possible to get it?

PS: the service is currently private

[2019-09-28 21:52] jacoblee93 commented on #195
Hi @monis0395! You'll actually want to run this command from within your Standard Library directory (the same one you ran `lib init` in, requires you to log in):

`lib get monis0395/createfeed@dev`

That will retrieve your source code and put in a directory called `monis0395/createfeed@dev`. Let me know if that works for you!

[2019-09-29 14:48] monis0395 commented on #195
Thanks a lot @jacoblee93, it works :)

[2019-09-29 14:48] #195 closed

[2020-01-02 16:18] majuric opened #196 "Deployment fails with a specific npm package"
For some reason one specific npm package causes the build to fail. I've come to this particular one by trial-and-error approach, others seem not to cause problems but why this one does eludes me.

The package in question is `gmail-parser`. Since there's no detailed reason as to why build fails I was hoping if someone could check why this particular one causes problems

[2020-07-04 10:08] elbakrifz opened #201 "ValidateSamFile"
I run :
 java -jar /Users/mac/Downloads/picard-2.jar  ValidateSamFile\                           I=/Users/mac/Desktop/NGS/SRR639642.bam \                                          MODE=SUMMARY
I got :

'ValidateSamFile ' is not a valid command. See PicardCommandLine -h for more information.
Did you mean this?
        ValidateSamFile

[2020-07-04 15:31] #201 closed

[2020-09-30 13:48] tsonev7 opened #202 "User must restart the init process if the password is wrong"
Currently, the CLI doesn't respond well when we enter a wrong password during the `lib init` process.
If I enter a wrong password, the cli prompts me to enter a new password, however, the email field value looks reset and I have to re-run the `init` command again.

I've attached a screenshot with the steps described above.

<img width="324" alt="Screenshot 2020-09-30 at 16 43 34" src="https://user

[2020-09-30 15:47] jacoblee93 commented on #202
Hey @tsonev7, thanks for the report. We'll look into fixing this.

[2020-09-30 20:54] jacoblee93 commented on #202
Hi @tsonev7, I've patched this issue. Reinstall the CLI to see the change reflected.

[2020-10-01 06:32] tsonev7 commented on #202
Thanks for the quick response!

[2020-10-01 06:32] #202 closed

[2020-10-28 06:56] mic-max opened #204 "Use a development resource in a release (production)"
I had a linked PostgreSQL account and wanted to use that same account for my release, but it would not let me and forced me to create a new "Production Account" which I used the exact same values for anyway, they could also not have the same name so I appended "Prod" to my "Production Account" resource.

![image](https://user-images.githubusercontent.com/15165028/97402455-d5307c00-18af-11eb-8ef0-5

[2020-10-28 06:59] mic-max opened #205 "Link New Development Resource - Twitch Account Fails"
When going through the process of linking a Twitch account, it gives an error.
Here are the steps I took:

1. ![image](https://user-images.githubusercontent.com/15165028/97402663-26d90680-18b0-11eb-8c68-9b38b332f69a.png)
1. ![image](https://user-images.githubusercontent.com/15165028/97402676-2b9dba80-18b0-11eb-844b-101672a10758.png)
1. ![image](https://user-images.githubusercontent.com/15165028/97

[2021-03-30 08:06] #191 closed

[2021-07-04 19:50] Eugeniochiau commented on #191
###

- url

)

[2021-08-24 14:42] intermundos commented on #158
Actually the issue is still present. Uploaded files are all corrupt. Tried to upload files to box.com and all of them are saved corrupt and do not open.

[2021-08-24 15:06] jacoblee93 commented on #158
Hey @intermundos,

Can you go into more detail on how exactly you're trying to do this? Sharing the code you're running would help.

[2021-08-24 17:10] intermundos commented on #158
@jacoblee93 Hi, thanks for quick response!

Sure, below is the endpoint. I send data from client with multipart data form.

Thanks a lot in advance.

[code]

[2021-08-24 18:26] jacoblee93 commented on #158
Ok, thanks. Will look into it. It would be helpful, if possible, if you could give me an example of the client code/data file as well?

[2021-08-24 18:41] intermundos commented on #158
Thanks much!

Cant post here everything but will try to summarise

[code]

Let me know if you need further details.

UPD: .txt files sent to box are saved correctly. All other files get corrupted.

[2021-08-27 15:46] jacoblee93 commented on #158
Hey @intermundos, we've pushed a fix. Can you confirm it's ok on your end? You shouldn't have to change anything.

[2021-08-29 10:55] intermundos commented on #158
@jacoblee93 Thanks much! Will test later today and let you know.

[2021-10-06 11:25] intermundos commented on #158
@jacoblee93

Had been busy much...

Now it's working fine.

Thanks a lot!

[2021-10-06 13:59] jacoblee93 commented on #158
Excellent! Glad to hear that. Let us know if you have other questions - we're really active in our community Discord: https://discord.gg/autocode

[2022-01-14 22:42] See887777 commented on #143
Cc

[2022-01-19 17:38] nikolaischunk opened #209 "undefined@undefined when downloading"
When I download a service, in the reponse I get `undefined@undefined downloaded successfully...`
![grafik](https://user-images.githubusercontent.com/58025175/150184459-3ce58386-cc4d-4a64-9dc4-b2b379db5d25.png)